openapi: 3.1.0
info:
  title: ArchIToken API
  version: 2.0.0
  summary: AEC Harness for LLMs · Unified API
  description: |
    The **single source of truth** for the ArchIToken platform (formerly
    InsomeOS; Constitution §5).
    All 7 language SDKs are generated from this file via openapi-generator 7.x.

    Versioning: semver; breaking changes bump MAJOR.
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  contact:
    name: ActiveInAI
    email: ActiveInAI@outlook.com

servers:
  - url: https://api.insomeos.io
    description: Production
  - url: https://staging-api.insomeos.io
    description: Staging
  - url: http://localhost:8080
    description: Local dev

tags:
  - name: harness
    description: Direct inference routing (L5 Gateway)
  - name: modules
    description: ArchIToken active module registry and legacy alias normalization
  - name: module-files
    description: Module-scoped file, metadata, content, sharing, and trash APIs
  - name: module-lifecycle
    description: Module transaction state machine and approval APIs
  - name: module-audit
    description: Append-only module audit event APIs
  - name: agents
    description: Legacy agent orchestration (L4)
  - name: projects
    description: Project CRUD
  - name: bim
    description: IFC / BIM upload and query
  - name: boq
    description: Bill of Quantities
  - name: compliance
    description: Regulation review
  - name: meta
    description: Health, readiness, version

security:
  - bearerAuth: []

paths:
  /healthz:
    get:
      summary: Liveness probe
      tags: [meta]
      security: []
      responses:
        "200":
          description: OK
          content:
            text/plain:
              schema: { type: string, example: "ok" }

  /readyz:
    get:
      summary: Readiness probe
      tags: [meta]
      security: []
      responses:
        "200":
          description: Ready
          content:
            text/plain:
              schema: { type: string, example: "ready" }

  /v1/harness/invoke:
    post:
      summary: Inference via the Harness (§1 · all model calls go here)
      tags: [harness]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ChatRequest" }
      responses:
        "200":
          description: Completion produced
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ChatResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/ValidationError" }
        "504": { $ref: "#/components/responses/SlaViolation" }

  /v1/modules:
    get:
      operationId: listModules
      summary: List active ArchIToken modules
      tags: [modules]
      responses:
        "200":
          description: Active module list in lifecycle order
          content:
            application/json:
              schema:
                type: object
                required: [modules, total]
                properties:
                  modules:
                    type: array
                    items: { $ref: "#/components/schemas/ModuleSpec" }
                  total:
                    type: integer
                    minimum: 0
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/modules/{module_id}:
    parameters:
      - { $ref: "#/components/parameters/ModuleIdParam" }
    get:
      operationId: getModule
      summary: Get one active module or legacy alias
      tags: [modules]
      responses:
        "200":
          description: Module specification
          content:
            application/json:
                schema: { $ref: "#/components/schemas/ModuleSpec" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/modules/{module_id}/files:
    parameters:
      - { $ref: "#/components/parameters/ModuleIdParam" }
    get:
      operationId: listModuleFiles
      summary: List module files and folders
      tags: [module-files]
      responses:
        "200":
          description: Module-scoped file tree nodes
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleFileListResponse" }
        "404": { $ref: "#/components/responses/NotFound" }
    post:
      operationId: createModuleFile
      summary: Create a module file or folder metadata node
      tags: [module-files]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateModuleFileRequest" }
      responses:
        "201":
          description: File or folder created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleFileNode" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/files/{file_id}:
    parameters:
      - { $ref: "#/components/parameters/FileIdParam" }
    get:
      operationId: getModuleFile
      summary: Get a module file or folder node
      tags: [module-files]
      responses:
        "200":
          description: File or folder node
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleFileNode" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      operationId: updateModuleFile
      summary: Update module file metadata
      tags: [module-files]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UpdateModuleFileRequest" }
      responses:
        "200":
          description: File metadata updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleFileNode" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/files/{file_id}/metadata:
    parameters:
      - { $ref: "#/components/parameters/FileIdParam" }
    get:
      operationId: getModuleFileMetadata
      summary: Get module file metadata
      tags: [module-files]
      responses:
        "200":
          description: File metadata
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleFileMetadata" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/files/{file_id}/content:
    parameters:
      - { $ref: "#/components/parameters/FileIdParam" }
    get:
      operationId: getModuleFileContent
      summary: Get in-memory module file content stub
      tags: [module-files]
      responses:
        "200":
          description: File content stub
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FileContentResponse" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }
    put:
      operationId: updateModuleFileContent
      summary: Replace in-memory module file content stub
      tags: [module-files]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UpdateFileContentRequest" }
      responses:
        "200":
          description: File content updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FileContentResponse" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/files/{file_id}/move:
    parameters:
      - { $ref: "#/components/parameters/FileIdParam" }
    post:
      operationId: moveModuleFile
      summary: Move a module file or folder
      tags: [module-files]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/MoveFileRequest" }
      responses:
        "200":
          description: File moved
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleFileNode" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/files/{file_id}/copy:
    parameters:
      - { $ref: "#/components/parameters/FileIdParam" }
    post:
      operationId: copyModuleFile
      summary: Copy a module file or folder
      tags: [module-files]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CopyFileRequest" }
      responses:
        "201":
          description: File copy created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleFileNode" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/files/{file_id}/share:
    parameters:
      - { $ref: "#/components/parameters/FileIdParam" }
    post:
      operationId: shareModuleFile
      summary: Generate a module file share link placeholder
      tags: [module-files]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ShareFileRequest" }
      responses:
        "200":
          description: Share link generated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ShareFileResponse" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/files/{file_id}/trash:
    parameters:
      - { $ref: "#/components/parameters/FileIdParam" }
    post:
      operationId: trashModuleFile
      summary: Soft-delete a module file or folder
      tags: [module-files]
      responses:
        "200":
          description: File soft-deleted
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleFileNode" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/transactions:
    get:
      operationId: listModuleTransactions
      summary: List module lifecycle transactions
      tags: [module-lifecycle]
      parameters:
        - in: query
          name: module_id
          required: false
          description: Optional active module id or accepted legacy alias.
          schema:
            type: string
            examples: [production_manufacturing, manufacturing, fabrication]
      responses:
        "200":
          description: Lifecycle transactions
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleTransactionListResponse" }
        "404": { $ref: "#/components/responses/NotFound" }
    post:
      operationId: createModuleTransaction
      summary: Create a module lifecycle transaction
      tags: [module-lifecycle]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateModuleTransactionRequest" }
      responses:
        "201":
          description: Transaction created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleTransaction" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/transactions/{transaction_id}:
    parameters:
      - { $ref: "#/components/parameters/TransactionIdParam" }
    get:
      operationId: getModuleTransaction
      summary: Get a module lifecycle transaction
      tags: [module-lifecycle]
      responses:
        "200":
          description: Lifecycle transaction
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleTransaction" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/transactions/{transaction_id}/transition:
    parameters:
      - { $ref: "#/components/parameters/TransactionIdParam" }
    post:
      operationId: transitionModuleTransaction
      summary: Apply a typed lifecycle transition
      tags: [module-lifecycle]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ModuleTransitionRequest" }
      responses:
        "200":
          description: Transaction transitioned
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleTransaction" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/transactions/{transaction_id}/approve:
    parameters:
      - { $ref: "#/components/parameters/TransactionIdParam" }
    post:
      operationId: approveModuleTransaction
      summary: Approve a module lifecycle transaction
      tags: [module-lifecycle]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ApprovalDecisionRequest" }
      responses:
        "200":
          description: Transaction approved
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleTransaction" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/transactions/{transaction_id}/reject:
    parameters:
      - { $ref: "#/components/parameters/TransactionIdParam" }
    post:
      operationId: rejectModuleTransaction
      summary: Reject a module lifecycle transaction
      tags: [module-lifecycle]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ApprovalDecisionRequest" }
      responses:
        "200":
          description: Transaction rejected
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleTransaction" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/audit-events:
    get:
      operationId: listModuleAuditEvents
      summary: List append-only module audit events
      tags: [module-audit]
      parameters:
        - in: query
          name: module_id
          required: false
          description: Optional active module id filter.
          schema: { $ref: "#/components/schemas/ModuleId" }
        - in: query
          name: target_id
          required: false
          description: Optional target id filter.
          schema: { type: string }
        - in: query
          name: limit
          required: false
          description: Maximum number of events to return.
          schema: { type: integer, minimum: 1, maximum: 500, default: 100 }
      responses:
        "200":
          description: Audit events
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AuditEventListResponse" }
        "400": { $ref: "#/components/responses/ValidationError" }

  /v1/agents/invoke:
    post:
      summary: Run one 9-phase agent graph end-to-end
      tags: [agents]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AgentRequest" }
      responses:
        "200":
          description: Phase complete (approved, revise-hit-cap, or rejected)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AgentResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "502": { $ref: "#/components/responses/UpstreamError" }

  /v1/phases:
    get:
      summary: Legacy phase list
      deprecated: true
      tags: [agents]
      responses:
        "200":
          description: Phase list
          content:
            application/json:
              schema:
                type: object
                properties:
                  phases:
                    type: array
                    items: { $ref: "#/components/schemas/BusinessPhase" }

  /v1/projects:
    get:
      summary: List projects for the caller's tenant
      tags: [projects]
      parameters:
        - { $ref: "#/components/parameters/Page" }
        - { $ref: "#/components/parameters/PageSize" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: { $ref: "#/components/schemas/Project" }
                  total: { type: integer, minimum: 0 }
    post:
      summary: Create a project
      tags: [projects]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ProjectCreate" }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Project" }

  /v1/projects/{id}:
    parameters:
      - { $ref: "#/components/parameters/ProjectId" }
    get:
      summary: Get one project
      tags: [projects]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Project" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/projects/{id}/bim:
    parameters:
      - { $ref: "#/components/parameters/ProjectId" }
    post:
      summary: Upload an IFC file for the project
      tags: [bim]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "202":
          description: Queued for parsing
          content:
            application/json:
              schema:
                type: object
                properties:
                  upload_id: { type: string, format: uuid }
                  status: { type: string, enum: [queued] }

  /v1/projects/{id}/boq:
    parameters:
      - { $ref: "#/components/parameters/ProjectId" }
    get:
      summary: Get the Bill of Quantities
      tags: [boq]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/BoqItem" }

  /v1/projects/{id}/compliance:
    parameters:
      - { $ref: "#/components/parameters/ProjectId" }
    get:
      summary: List compliance findings
      tags: [compliance]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/ComplianceFinding" }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Supabase Auth 2.188.1 issued JWT

  parameters:
    Page:
      in: query
      name: page
      schema: { type: integer, minimum: 1, default: 1 }
    PageSize:
      in: query
      name: page_size
      schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
    ProjectId:
      in: path
      name: id
      required: true
      schema: { type: string, format: uuid }
    ModuleIdParam:
      in: path
      name: module_id
      required: true
      description: Active module id or accepted legacy alias.
      schema:
        type: string
        examples:
          - production_manufacturing
          - manufacturing
          - fabrication
    FileIdParam:
      in: path
      name: file_id
      required: true
      description: Module file id.
      schema: { type: string, format: uuid }
    TransactionIdParam:
      in: path
      name: transaction_id
      required: true
      description: Module lifecycle transaction id.
      schema: { type: string, format: uuid }

  responses:
    Unauthorized:
      description: Missing or invalid bearer token
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    ValidationError:
      description: Request failed validation
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    SlaViolation:
      description: SLA budget exceeded (Constitution §8)
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    UpstreamError:
      description: Upstream inference engine failed
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    NotFound:
      description: Resource does not exist or is not visible to caller
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }

  schemas:
    Error:
      type: object
      required: [error, code]
      properties:
        error: { type: string }
        code: { type: integer }

    ModuleId:
      type: string
      description: Active ArchIToken module id. Legacy aliases normalize at API boundaries.
      enum:
        - marketing_service
        - concept_design
        - standard_library
        - detailed_design
        - quantity_costing
        - material_logistics
        - production_manufacturing
        - construction_supervision
        - digital_twin
        - digital_archive
        - settings_center

    ModuleStatus:
      type: string
      enum: [active, pilot, planned, foundation]

    ModuleTrack:
      type: string
      enum:
        - customer
        - design
        - governance
        - cost
        - supply
        - factory
        - site
        - twin
        - archive
        - platform

    ModuleAlias:
      type: object
      required: [alias, normalizedModuleId, reason]
      properties:
        alias:
          type: string
          enum: [manufacturing, fabrication]
        normalizedModuleId:
          $ref: "#/components/schemas/ModuleId"
        reason:
          type: string

    ModuleSpec:
      type: object
      required:
        - id
        - order
        - zhName
        - enName
        - track
        - status
        - summary
        - routeHref
        - schemaRef
        - legacyAliases
      properties:
        id:
          $ref: "#/components/schemas/ModuleId"
        order:
          type: integer
          minimum: 1
          maximum: 99
        zhName:
          type: string
        enName:
          type: string
        track:
          $ref: "#/components/schemas/ModuleTrack"
        status:
          $ref: "#/components/schemas/ModuleStatus"
        summary:
          type: string
        routeHref:
          type: string
          example: /app/modules/production_manufacturing
        schemaRef:
          type: string
          example: module.schema/production_manufacturing.v1
        legacyAliases:
          type: array
          items: { $ref: "#/components/schemas/ModuleAlias" }

    ModuleFileKind:
      type: string
      enum: [folder, file]

    ModuleFileStatus:
      type: string
      enum: [draft, uploaded, active, shared, soft_deleted, archived]

    ModuleFileMetadata:
      type: object
      required: [sizeBytes, version, owner, tags, createdAt, updatedAt]
      properties:
        sizeBytes:
          type: integer
          minimum: 0
        mimeType:
          type: [string, "null"]
          example: application/pdf
        checksum:
          type: [string, "null"]
        version:
          type: integer
          minimum: 1
        owner:
          type: string
        tags:
          type: array
          items: { type: string }
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    ModuleFileNode:
      type: object
      required: [id, moduleId, name, kind, status, metadata]
      properties:
        id:
          type: string
          format: uuid
        moduleId:
          $ref: "#/components/schemas/ModuleId"
        parentId:
          type: [string, "null"]
          format: uuid
        name:
          type: string
          minLength: 1
        kind:
          $ref: "#/components/schemas/ModuleFileKind"
        status:
          $ref: "#/components/schemas/ModuleFileStatus"
        metadata:
          $ref: "#/components/schemas/ModuleFileMetadata"

    ModuleFileListResponse:
      type: object
      required: [files, total]
      properties:
        files:
          type: array
          items: { $ref: "#/components/schemas/ModuleFileNode" }
        total:
          type: integer
          minimum: 0

    CreateModuleFileRequest:
      type: object
      required: [name, kind]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
        kind:
          $ref: "#/components/schemas/ModuleFileKind"
        parentId:
          type: [string, "null"]
          format: uuid
        mimeType:
          type: [string, "null"]
        sizeBytes:
          type: integer
          minimum: 0
        owner:
          type: string
        tags:
          type: array
          items: { type: string }
        content:
          type: string
          description: Small in-memory content stub only; real bytes move through ObjectStore later.

    UpdateModuleFileRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
        owner:
          type: string
        tags:
          type: array
          items: { type: string }
        mimeType:
          type: string

    MoveFileRequest:
      type: object
      properties:
        targetParentId:
          type: [string, "null"]
          format: uuid
        actor:
          type: string

    CopyFileRequest:
      type: object
      properties:
        targetModuleId:
          type: string
          description: Optional active module id or accepted legacy alias.
          examples: [production_manufacturing, manufacturing, fabrication]
        targetParentId:
          type: [string, "null"]
          format: uuid
        name:
          type: string
          minLength: 1
          maxLength: 255
        actor:
          type: string

    ShareFileRequest:
      type: object
      required: [permissions]
      properties:
        permissions:
          type: array
          minItems: 1
          items: { type: string }
        expiresAt:
          type: [string, "null"]
          format: date-time
        actor:
          type: string

    ShareFileResponse:
      type: object
      required: [fileId, shareUrl, permissions]
      properties:
        fileId:
          type: string
          format: uuid
        shareUrl:
          type: string
        permissions:
          type: array
          items: { type: string }
        expiresAt:
          type: [string, "null"]
          format: date-time

    UpdateFileContentRequest:
      type: object
      required: [content]
      properties:
        content:
          type: string
        contentType:
          type: string
        actor:
          type: string

    FileContentResponse:
      type: object
      required: [fileId, content, updatedAt]
      properties:
        fileId:
          type: string
          format: uuid
        content:
          type: string
        contentType:
          type: [string, "null"]
        updatedAt:
          type: string
          format: date-time

    ModuleTransactionStatus:
      type: string
      enum:
        - draft
        - submitted
        - generating
        - evaluating
        - rule_checking
        - schema_validating
        - pending_approval
        - approved
        - archived
        - rejected
        - blocked

    ModuleTransitionEvent:
      type: string
      enum:
        - create
        - submit
        - generate
        - evaluate
        - rule_check
        - validate_schema
        - request_approval
        - approve
        - reject
        - archive
        - reopen
        - block
        - resolve_blocker

    ApprovalDecision:
      type: string
      enum: [approved, rejected]

    ModuleApproval:
      type: object
      required: [id, transactionId, approver, decision, decidedAt]
      properties:
        id:
          type: string
          format: uuid
        transactionId:
          type: string
          format: uuid
        approver:
          type: string
        decision:
          $ref: "#/components/schemas/ApprovalDecision"
        comment:
          type: [string, "null"]
        decidedAt:
          type: string
          format: date-time

    ModuleTransaction:
      type: object
      required:
        - id
        - moduleId
        - transactionType
        - status
        - actor
        - createdAt
        - updatedAt
        - relatedFileIds
        - relatedArtifactIds
        - approvals
      properties:
        id:
          type: string
          format: uuid
        moduleId:
          $ref: "#/components/schemas/ModuleId"
        transactionType:
          type: string
          minLength: 1
        status:
          $ref: "#/components/schemas/ModuleTransactionStatus"
        actor:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        relatedFileIds:
          type: array
          items:
            type: string
            format: uuid
        relatedArtifactIds:
          type: array
          items: { type: string }
        approvals:
          type: array
          items: { $ref: "#/components/schemas/ModuleApproval" }

    ModuleTransactionListResponse:
      type: object
      required: [transactions, total]
      properties:
        transactions:
          type: array
          items: { $ref: "#/components/schemas/ModuleTransaction" }
        total:
          type: integer
          minimum: 0

    CreateModuleTransactionRequest:
      type: object
      required: [moduleId, transactionType]
      properties:
        moduleId:
          type: string
          description: Active module id or accepted legacy alias.
          examples: [production_manufacturing, manufacturing, fabrication]
        transactionType:
          type: string
          minLength: 1
        actor:
          type: string
        relatedFileIds:
          type: array
          items:
            type: string
            format: uuid
        relatedArtifactIds:
          type: array
          items: { type: string }

    ModuleTransitionRequest:
      type: object
      required: [event]
      properties:
        event:
          $ref: "#/components/schemas/ModuleTransitionEvent"
        actor:
          type: string
        comment:
          type: string

    ApprovalDecisionRequest:
      type: object
      required: [actor]
      properties:
        actor:
          type: string
          minLength: 1
        comment:
          type: string

    AuditEventKind:
      type: string
      enum:
        - file_created
        - file_updated
        - file_moved
        - file_copied
        - file_shared
        - file_trashed
        - file_content_updated
        - transaction_created
        - transaction_transitioned
        - transaction_approved
        - transaction_rejected

    AuditEvent:
      type: object
      required: [id, moduleId, actor, action, targetType, targetId, summary, metadata, createdAt]
      properties:
        id:
          type: string
          format: uuid
        moduleId:
          $ref: "#/components/schemas/ModuleId"
        actor:
          type: string
        action:
          $ref: "#/components/schemas/AuditEventKind"
        targetType:
          type: string
          enum: [file, transaction]
        targetId:
          type: string
        summary:
          type: string
        metadata:
          type: object
          additionalProperties: true
        createdAt:
          type: string
          format: date-time

    AuditEventQuery:
      type: object
      properties:
        module_id:
          $ref: "#/components/schemas/ModuleId"
        target_id:
          type: string
        limit:
          type: integer
          minimum: 1
          maximum: 500
          default: 100

    AuditEventListResponse:
      type: object
      required: [events, total, query]
      properties:
        events:
          type: array
          items: { $ref: "#/components/schemas/AuditEvent" }
        total:
          type: integer
          minimum: 0
        query:
          $ref: "#/components/schemas/AuditEventQuery"

    BusinessPhase:
      deprecated: true
      type: string
      enum:
        - pre_sales
        - concept
        - develop
        - costing
        - fabrication
        - logistics
        - construction
        - acceptance
        - operations

    Verdict:
      type: string
      enum: [approved, revise, rejected]

    Severity:
      type: string
      enum: [info, low, medium, high, critical]

    ChatRequest:
      type: object
      required: [model, messages]
      properties:
        model:
          type: string
          example: claude-4.7-sonnet
        messages:
          type: array
          items:
            type: object
            required: [role, content]
            properties:
              role: { type: string, enum: [system, user, assistant, tool] }
              content: { type: string }
        temperature: { type: number, minimum: 0, maximum: 2, default: 0.2 }
        max_tokens: { type: integer, minimum: 1, maximum: 131072, default: 4096 }
        stream: { type: boolean, default: false }

    ChatResponse:
      type: object
      required: [content, prompt_tokens, completion_tokens, engine, model]
      properties:
        content: { type: string }
        prompt_tokens: { type: integer }
        completion_tokens: { type: integer }
        engine:
          type: string
          enum: [v_llm, sg_lang, tensor_rt_llm, lm_deploy, ollama, llama_cpp]
        model: { type: string }
        latency_ms: { type: integer }

    AgentRequest:
      type: object
      required: [project_id, tenant_id, phase, user_input]
      properties:
        project_id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        phase: { $ref: "#/components/schemas/BusinessPhase" }
        user_input: { type: string, minLength: 1, maxLength: 32768 }
        attachments:
          type: array
          items: { type: string }
        locale:
          type: string
          enum: [zh-CN, en-US, es-ES, ja-JP, de-DE]
          default: zh-CN

    AgentResponse:
      type: object
      required: [request_id, phase, verdict, revision_count, trace]
      properties:
        request_id: { type: string }
        phase: { $ref: "#/components/schemas/BusinessPhase" }
        verdict: { $ref: "#/components/schemas/Verdict" }
        final_output: {}
        revision_count: { type: integer }
        trace:
          type: array
          items: { type: string }

    Project:
      type: object
      required: [id, tenant_id, name, phase, created_at, updated_at]
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        name: { type: string }
        description: { type: [string, "null"] }
        phase: { $ref: "#/components/schemas/BusinessPhase" }
        area_sqm: { type: [number, "null"] }
        location: { type: [string, "null"] }
        budget_cny: { type: [integer, "null"] }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    ProjectCreate:
      type: object
      required: [name]
      properties:
        name: { type: string, minLength: 1, maxLength: 200 }
        description: { type: string, maxLength: 2000 }
        area_sqm: { type: number }
        location: { type: string }
        budget_cny: { type: integer }

    BoqItem:
      type: object
      required: [id, project_id, code, description, unit, quantity, unit_price_cny, total_cny]
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        code: { type: string, pattern: "^[0-9]{9}$" }
        description: { type: string }
        unit: { type: string }
        quantity: { type: number }
        unit_price_cny: { type: number }
        total_cny: { type: number }
        category: { type: string }

    ComplianceFinding:
      type: object
      required: [id, project_id, severity, regulation_code, finding, resolved]
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        severity: { $ref: "#/components/schemas/Severity" }
        regulation_code: { type: string }
        regulation_clause: { type: string }
        finding: { type: string }
        recommendation: { type: string }
        element_id: { type: [string, "null"] }
        resolved: { type: boolean }
