openapi: 3.1.0
info:
  title: ArchIToken API
  version: 2.0.0
  summary: AEC Harness for LLMs · Unified API
  description: |
    The **single source of truth** for the ArchIToken platform (formerly
    InsomeOS; Constitution §5).
    All 7 language SDKs are generated from this file via openapi-generator 7.x.

    Versioning: semver; breaking changes bump MAJOR.
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  contact:
    name: ActiveInAI
    email: ActiveInAI@outlook.com

servers:
  - url: https://api.insomeos.io
    description: Production
  - url: https://staging-api.insomeos.io
    description: Staging
  - url: http://localhost:8080
    description: Local dev

tags:
  - name: harness
    description: Direct inference routing (L5 Gateway)
  - name: modules
    description: ArchIToken active module registry and legacy alias normalization
  - name: module-files
    description: Module-scoped file, metadata, content, sharing, and trash APIs. Content APIs are an in-memory stub and will move behind ObjectStore.
  - name: module-lifecycle
    description: Module transaction state machine and approval APIs. Current implementation is an in-memory preview and will move behind TransactionStore.
  - name: module-audit
    description: Append-only module audit event APIs. Current implementation is an in-memory preview and will move behind EventStore.
  - name: generation
    description: AI-native multimodal engineering generation and conversion APIs. Current implementation is an in-memory mock pipeline and will move behind WorkflowRouter, Skill Registry, MCP Tool Registry, and StorageRouter.
  - name: agents
    description: Legacy agent orchestration (L4)
  - name: projects
    description: Project CRUD
  - name: bim
    description: IFC / BIM upload and query
  - name: boq
    description: Bill of Quantities
  - name: compliance
    description: Regulation review
  - name: meta
    description: Health, readiness, version

security:
  - bearerAuth: []

paths:
  /healthz:
    get:
      summary: Liveness probe
      tags: [meta]
      security: []
      responses:
        "200":
          description: OK
          content:
            text/plain:
              schema: { type: string, example: "ok" }

  /readyz:
    get:
      summary: Readiness probe
      tags: [meta]
      security: []
      responses:
        "200":
          description: Ready
          content:
            text/plain:
              schema: { type: string, example: "ready" }

  /v1/harness/invoke:
    post:
      summary: Inference via the Harness (§1 · all model calls go here)
      tags: [harness]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ChatRequest" }
      responses:
        "200":
          description: Completion produced
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ChatResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/ValidationError" }
        "504": { $ref: "#/components/responses/SlaViolation" }

  /v1/modules:
    get:
      operationId: listModules
      summary: List active ArchIToken modules
      tags: [modules]
      responses:
        "200":
          description: Active module list in lifecycle order
          content:
            application/json:
              schema:
                type: object
                required: [modules, total]
                properties:
                  modules:
                    type: array
                    items: { $ref: "#/components/schemas/ModuleSpec" }
                  total:
                    type: integer
                    minimum: 0
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/modules/{module_id}:
    parameters:
      - { $ref: "#/components/parameters/ModuleIdParam" }
    get:
      operationId: getModule
      summary: Get one active module or legacy alias
      tags: [modules]
      responses:
        "200":
          description: Module specification
          content:
            application/json:
                schema: { $ref: "#/components/schemas/ModuleSpec" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/modules/{module_id}/files:
    parameters:
      - { $ref: "#/components/parameters/ModuleIdParam" }
    get:
      operationId: listModuleFiles
      summary: List module files and folders
      tags: [module-files]
      parameters:
        - { $ref: "#/components/parameters/FileParentIdQuery" }
        - { $ref: "#/components/parameters/FileStatusQuery" }
        - { $ref: "#/components/parameters/FileKindQuery" }
        - { $ref: "#/components/parameters/LimitParam" }
        - { $ref: "#/components/parameters/CursorParam" }
      responses:
        "200":
          description: Module-scoped file tree nodes
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleFileListResponse" }
              examples:
                files:
                  value:
                    files:
                      - id: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0001
                        moduleId: production_manufacturing
                        parentId: null
                        name: CNC package
                        kind: folder
                        status: active
                        metadata:
                          sizeBytes: 0
                          mimeType: null
                          checksum: null
                          version: 1
                          owner: planner
                          tags: [factory]
                          createdAt: "2026-04-30T00:00:00Z"
                          updatedAt: "2026-04-30T00:00:00Z"
                    total: 1
                    pageInfo:
                      limit: 50
                      nextCursor: null
                      hasMore: false
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    post:
      operationId: createModuleFile
      summary: Create a module file or folder metadata node
      tags: [module-files]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateModuleFileRequest" }
            examples:
              file:
                value:
                  name: cnc-nesting.nc
                  kind: file
                  parentId: null
                  mimeType: text/plain
                  sizeBytes: 128
                  owner: planner
                  tags: [cnc, release]
                  content: "G01 X0 Y0"
      responses:
        "201":
          description: File or folder created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleFileNode" }
              examples:
                created:
                  value:
                    id: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0002
                    moduleId: production_manufacturing
                    parentId: null
                    name: cnc-nesting.nc
                    kind: file
                    status: active
                    metadata:
                      sizeBytes: 128
                      mimeType: text/plain
                      checksum: null
                      version: 1
                      owner: planner
                      tags: [cnc, release]
                      createdAt: "2026-04-30T00:00:00Z"
                      updatedAt: "2026-04-30T00:00:00Z"
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/files/{file_id}:
    parameters:
      - { $ref: "#/components/parameters/FileIdParam" }
    get:
      operationId: getModuleFile
      summary: Get a module file or folder node
      tags: [module-files]
      responses:
        "200":
          description: File or folder node
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleFileNode" }
              examples:
                file:
                  value:
                    id: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0002
                    moduleId: production_manufacturing
                    parentId: null
                    name: cnc-nesting.nc
                    kind: file
                    status: active
                    metadata:
                      sizeBytes: 128
                      mimeType: text/plain
                      checksum: null
                      version: 1
                      owner: planner
                      tags: [cnc, release]
                      createdAt: "2026-04-30T00:00:00Z"
                      updatedAt: "2026-04-30T00:00:00Z"
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    patch:
      operationId: updateModuleFile
      summary: Update module file metadata
      tags: [module-files]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UpdateModuleFileRequest" }
            examples:
              rename:
                value:
                  name: cnc-nesting-v2.nc
                  tags: [cnc, approved]
      responses:
        "200":
          description: File metadata updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleFileNode" }
              examples:
                updated:
                  value:
                    id: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0002
                    moduleId: production_manufacturing
                    parentId: null
                    name: cnc-nesting-v2.nc
                    kind: file
                    status: active
                    metadata:
                      sizeBytes: 128
                      mimeType: text/plain
                      checksum: null
                      version: 2
                      owner: planner
                      tags: [cnc, approved]
                      createdAt: "2026-04-30T00:00:00Z"
                      updatedAt: "2026-04-30T00:10:00Z"
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/files/{file_id}/metadata:
    parameters:
      - { $ref: "#/components/parameters/FileIdParam" }
    get:
      operationId: getModuleFileMetadata
      summary: Get module file metadata
      tags: [module-files]
      responses:
        "200":
          description: File metadata
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleFileMetadata" }
              examples:
                metadata:
                  value:
                    sizeBytes: 128
                    mimeType: text/plain
                    checksum: null
                    version: 1
                    owner: planner
                    tags: [cnc, release]
                    createdAt: "2026-04-30T00:00:00Z"
                    updatedAt: "2026-04-30T00:00:00Z"
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/files/{file_id}/content:
    parameters:
      - { $ref: "#/components/parameters/FileIdParam" }
    get:
      operationId: getModuleFileContent
      summary: Get in-memory module file content stub
      description: Preview-only content endpoint. The current gateway keeps small content strings in memory; production bytes will be served through ObjectStore.
      tags: [module-files]
      responses:
        "200":
          description: File content stub
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FileContentResponse" }
              examples:
                content:
                  value:
                    fileId: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0002
                    content: "G01 X0 Y0"
                    contentType: text/plain
                    updatedAt: "2026-04-30T00:00:00Z"
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    put:
      operationId: updateModuleFileContent
      summary: Replace in-memory module file content stub
      description: Preview-only content endpoint. The current gateway keeps small content strings in memory; production bytes will be written through ObjectStore.
      tags: [module-files]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UpdateFileContentRequest" }
            examples:
              content:
                value:
                  content: "G01 X0 Y0\nM30"
                  contentType: text/plain
                  actor: planner
      responses:
        "200":
          description: File content updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FileContentResponse" }
              examples:
                content:
                  value:
                    fileId: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0002
                    content: "G01 X0 Y0\nM30"
                    contentType: text/plain
                    updatedAt: "2026-04-30T00:10:00Z"
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/files/{file_id}/move:
    parameters:
      - { $ref: "#/components/parameters/FileIdParam" }
    post:
      operationId: moveModuleFile
      summary: Move a module file or folder
      tags: [module-files]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/MoveFileRequest" }
            examples:
              moveToRoot:
                value:
                  targetParentId: null
                  actor: planner
      responses:
        "200":
          description: File moved
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleFileNode" }
              examples:
                moved:
                  value:
                    id: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0002
                    moduleId: production_manufacturing
                    parentId: null
                    name: cnc-nesting.nc
                    kind: file
                    status: active
                    metadata:
                      sizeBytes: 128
                      mimeType: text/plain
                      checksum: null
                      version: 2
                      owner: planner
                      tags: [cnc, release]
                      createdAt: "2026-04-30T00:00:00Z"
                      updatedAt: "2026-04-30T00:10:00Z"
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/files/{file_id}/copy:
    parameters:
      - { $ref: "#/components/parameters/FileIdParam" }
    post:
      operationId: copyModuleFile
      summary: Copy a module file or folder
      tags: [module-files]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CopyFileRequest" }
            examples:
              copy:
                value:
                  targetModuleId: production_manufacturing
                  targetParentId: null
                  name: cnc-nesting-copy.nc
                  actor: planner
      responses:
        "201":
          description: File copy created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleFileNode" }
              examples:
                copied:
                  value:
                    id: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0003
                    moduleId: production_manufacturing
                    parentId: null
                    name: cnc-nesting-copy.nc
                    kind: file
                    status: active
                    metadata:
                      sizeBytes: 128
                      mimeType: text/plain
                      checksum: null
                      version: 1
                      owner: planner
                      tags: [cnc, release]
                      createdAt: "2026-04-30T00:10:00Z"
                      updatedAt: "2026-04-30T00:10:00Z"
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/files/{file_id}/share:
    parameters:
      - { $ref: "#/components/parameters/FileIdParam" }
    post:
      operationId: shareModuleFile
      summary: Generate a module file share link placeholder
      tags: [module-files]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ShareFileRequest" }
            examples:
              readOnly:
                value:
                  permissions: [read]
                  expiresAt: "2026-05-01T00:00:00Z"
                  actor: planner
      responses:
        "200":
          description: Share link generated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ShareFileResponse" }
              examples:
                shared:
                  value:
                    fileId: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0002
                    shareUrl: /v1/files/018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0002/shared/018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0004
                    permissions: [read]
                    expiresAt: "2026-05-01T00:00:00Z"
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/files/{file_id}/trash:
    parameters:
      - { $ref: "#/components/parameters/FileIdParam" }
    post:
      operationId: trashModuleFile
      summary: Soft-delete a module file or folder
      tags: [module-files]
      responses:
        "200":
          description: File soft-deleted
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleFileNode" }
              examples:
                trashed:
                  value:
                    id: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0002
                    moduleId: production_manufacturing
                    parentId: null
                    name: cnc-nesting.nc
                    kind: file
                    status: soft_deleted
                    metadata:
                      sizeBytes: 128
                      mimeType: text/plain
                      checksum: null
                      version: 1
                      owner: planner
                      tags: [cnc, release]
                      createdAt: "2026-04-30T00:00:00Z"
                      updatedAt: "2026-04-30T00:15:00Z"
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/transactions:
    get:
      operationId: listModuleTransactions
      summary: List module lifecycle transactions
      description: In-memory preview of module lifecycle transactions. Production persistence will move behind TransactionStore.
      tags: [module-lifecycle]
      parameters:
        - { $ref: "#/components/parameters/TransactionModuleIdQuery" }
        - { $ref: "#/components/parameters/TransactionStatusQuery" }
        - { $ref: "#/components/parameters/LimitParam" }
        - { $ref: "#/components/parameters/CursorParam" }
      responses:
        "200":
          description: Lifecycle transactions
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleTransactionListResponse" }
              examples:
                transactions:
                  value:
                    transactions:
                      - id: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0101
                        moduleId: production_manufacturing
                        transactionType: release
                        status: pending_approval
                        actor: planner
                        createdAt: "2026-04-30T00:00:00Z"
                        updatedAt: "2026-04-30T00:30:00Z"
                        relatedFileIds: [018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0002]
                        relatedArtifactIds: [cnc-package-v1]
                        approvals: []
                    total: 1
                    pageInfo:
                      limit: 50
                      nextCursor: null
                      hasMore: false
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    post:
      operationId: createModuleTransaction
      summary: Create a module lifecycle transaction
      description: Creates an in-memory preview transaction. Production persistence will move behind TransactionStore.
      tags: [module-lifecycle]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateModuleTransactionRequest" }
            examples:
              transaction:
                value:
                  moduleId: production_manufacturing
                  transactionType: release
                  actor: planner
                  relatedFileIds: [018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0002]
                  relatedArtifactIds: [cnc-package-v1]
      responses:
        "201":
          description: Transaction created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleTransaction" }
              examples:
                created:
                  value:
                    id: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0101
                    moduleId: production_manufacturing
                    transactionType: release
                    status: draft
                    actor: planner
                    createdAt: "2026-04-30T00:00:00Z"
                    updatedAt: "2026-04-30T00:00:00Z"
                    relatedFileIds: [018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0002]
                    relatedArtifactIds: [cnc-package-v1]
                    approvals: []
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/transactions/{transaction_id}:
    parameters:
      - { $ref: "#/components/parameters/TransactionIdParam" }
    get:
      operationId: getModuleTransaction
      summary: Get a module lifecycle transaction
      tags: [module-lifecycle]
      responses:
        "200":
          description: Lifecycle transaction
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleTransaction" }
              examples:
                transaction:
                  value:
                    id: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0101
                    moduleId: production_manufacturing
                    transactionType: release
                    status: pending_approval
                    actor: planner
                    createdAt: "2026-04-30T00:00:00Z"
                    updatedAt: "2026-04-30T00:30:00Z"
                    relatedFileIds: [018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0002]
                    relatedArtifactIds: [cnc-package-v1]
                    approvals: []
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/transactions/{transaction_id}/transition:
    parameters:
      - { $ref: "#/components/parameters/TransactionIdParam" }
    post:
      operationId: transitionModuleTransaction
      summary: Apply a typed lifecycle transition
      tags: [module-lifecycle]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ModuleTransitionRequest" }
            examples:
              submit:
                value:
                  event: submit
                  actor: planner
                  comment: ready for review
      responses:
        "200":
          description: Transaction transitioned
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleTransaction" }
              examples:
                transitioned:
                  value:
                    id: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0101
                    moduleId: production_manufacturing
                    transactionType: release
                    status: submitted
                    actor: planner
                    createdAt: "2026-04-30T00:00:00Z"
                    updatedAt: "2026-04-30T00:10:00Z"
                    relatedFileIds: [018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0002]
                    relatedArtifactIds: [cnc-package-v1]
                    approvals: []
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/transactions/{transaction_id}/approve:
    parameters:
      - { $ref: "#/components/parameters/TransactionIdParam" }
    post:
      operationId: approveModuleTransaction
      summary: Approve a module lifecycle transaction
      tags: [module-lifecycle]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ApprovalDecisionRequest" }
            examples:
              approve:
                value:
                  actor: approver
                  comment: approved for release
      responses:
        "200":
          description: Transaction approved
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleTransaction" }
              examples:
                approved:
                  value:
                    id: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0101
                    moduleId: production_manufacturing
                    transactionType: release
                    status: approved
                    actor: planner
                    createdAt: "2026-04-30T00:00:00Z"
                    updatedAt: "2026-04-30T00:40:00Z"
                    relatedFileIds: [018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0002]
                    relatedArtifactIds: [cnc-package-v1]
                    approvals:
                      - id: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0201
                        transactionId: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0101
                        approver: approver
                        decision: approved
                        comment: approved for release
                        decidedAt: "2026-04-30T00:40:00Z"
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/transactions/{transaction_id}/reject:
    parameters:
      - { $ref: "#/components/parameters/TransactionIdParam" }
    post:
      operationId: rejectModuleTransaction
      summary: Reject a module lifecycle transaction
      tags: [module-lifecycle]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ApprovalDecisionRequest" }
            examples:
              reject:
                value:
                  actor: approver
                  comment: CNC file needs revision
      responses:
        "200":
          description: Transaction rejected
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleTransaction" }
              examples:
                rejected:
                  value:
                    id: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0101
                    moduleId: production_manufacturing
                    transactionType: release
                    status: rejected
                    actor: planner
                    createdAt: "2026-04-30T00:00:00Z"
                    updatedAt: "2026-04-30T00:40:00Z"
                    relatedFileIds: [018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0002]
                    relatedArtifactIds: [cnc-package-v1]
                    approvals:
                      - id: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0202
                        transactionId: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0101
                        approver: approver
                        decision: rejected
                        comment: CNC file needs revision
                        decidedAt: "2026-04-30T00:40:00Z"
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/audit-events:
    get:
      operationId: listModuleAuditEvents
      summary: List append-only module audit events
      description: In-memory preview of append-only audit events. Production persistence will move behind EventStore.
      tags: [module-audit]
      parameters:
        - { $ref: "#/components/parameters/AuditModuleIdQuery" }
        - { $ref: "#/components/parameters/AuditTargetTypeQuery" }
        - { $ref: "#/components/parameters/AuditTargetIdQuery" }
        - { $ref: "#/components/parameters/AuditActorQuery" }
        - { $ref: "#/components/parameters/LimitParam" }
        - { $ref: "#/components/parameters/CursorParam" }
      responses:
        "200":
          description: Audit events
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AuditEventListResponse" }
              examples:
                auditEvents:
                  value:
                    events:
                      - id: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0301
                        moduleId: production_manufacturing
                        actor: planner
                        action: file_created
                        targetType: file
                        targetId: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0002
                        summary: file node created
                        metadata:
                          name: cnc-nesting.nc
                          kind: file
                          status: active
                        createdAt: "2026-04-30T00:00:00Z"
                    total: 1
                    pageInfo:
                      limit: 50
                      nextCursor: null
                      hasMore: false
                    query:
                      module_id: production_manufacturing
                      target_type: file
                      target_id: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0002
                      actor: planner
                      limit: 50
                      cursor: null
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/generation/jobs:
    get:
      operationId: listGenerationJobs
      summary: List AIGC generation jobs
      description: In-memory mock preview of AI-native multimodal engineering generation jobs. Production execution will move behind WorkflowRouter, Skill Registry, MCP Tool Registry, and StorageRouter.
      tags: [generation]
      parameters:
        - { $ref: "#/components/parameters/GenerationModuleIdQuery" }
        - { $ref: "#/components/parameters/GenerationStatusQuery" }
        - { $ref: "#/components/parameters/GenerationModeQuery" }
        - { $ref: "#/components/parameters/LimitParam" }
        - { $ref: "#/components/parameters/CursorParam" }
      responses:
        "200":
          description: Generation jobs
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GenerationJobListResponse" }
              examples:
                jobs:
                  value:
                    jobs:
                      - id: "018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f1001"
                        moduleId: production_manufacturing
                        mode: cad_to_bim
                        status: pending_review
                        input:
                          moduleId: production_manufacturing
                          mode: cad_to_bim
                          prompt: Convert approved CAD package to BIM preview.
                          actor: planner
                          inputArtifacts: []
                          constraints: { targetSchema: artifact.ifc.schema.v1 }
                        skill:
                          id: cad_to_bim_mock_skill
                          version: 0.1.0
                          description: mock AIGC engineering generation skill; no external model call
                          inputSchema: generation.input.schema.v1
                          outputSchema: artifact.ifc.schema.v1
                          sandboxProfile: mock_tool_sandbox_no_network
                          licensePolicy: MIT/Apache-2.0/BSD preferred; GPL/AGPL/LGPL/SSPL/BUSL/Commons Clause denied
                        mcpTools: []
                        modelRoute:
                          provider: mock
                          model: mock-aigc-generator-v1
                          reason: local stub route
                          privacyTier: local_stub
                          costTier: zero
                        traces: []
                        reviews: []
                        artifacts: []
                        actor: planner
                        createdAt: "2026-04-30T00:00:00Z"
                        updatedAt: "2026-04-30T00:10:00Z"
                    total: 1
                    pageInfo:
                      limit: 50
                      nextCursor: null
                      hasMore: false
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    post:
      operationId: createGenerationJob
      summary: Create an AIGC generation job
      description: Creates a queued in-memory generation job. No real model, database, or object storage is called.
      tags: [generation]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/GenerationInput" }
            examples:
              cadToBim:
                value:
                  moduleId: production_manufacturing
                  mode: cad_to_bim
                  prompt: Convert approved CAD package to BIM preview.
                  actor: planner
                  inputArtifacts:
                    - id: "018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f1101"
                      kind: cad
                      status: input
                      objectUri: memory://input/cad-package.dxf
                      fileReference: module-file://018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0002
                      schemaRef: artifact.cad.schema.v1
                      version: 1
                      hash: null
                      metadata: { layers: 12 }
                  constraints:
                    targetSchema: artifact.ifc.schema.v1
      responses:
        "201":
          description: Generation job created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GenerationJob" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/generation/jobs/{job_id}:
    parameters:
      - { $ref: "#/components/parameters/GenerationJobIdParam" }
    get:
      operationId: getGenerationJob
      summary: Get one AIGC generation job
      tags: [generation]
      responses:
        "200":
          description: Generation job
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GenerationJob" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/generation/jobs/{job_id}/plan:
    parameters:
      - { $ref: "#/components/parameters/GenerationJobIdParam" }
    post:
      operationId: planGenerationJob
      summary: Run Planner stage for a generation job
      tags: [generation]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/GenerationActionRequest" }
            examples:
              plan:
                value:
                  actor: planner
                  comment: prepare deterministic mock plan
      responses:
        "200":
          description: Planned generation job
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GenerationJob" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/generation/jobs/{job_id}/run:
    parameters:
      - { $ref: "#/components/parameters/GenerationJobIdParam" }
    post:
      operationId: runGenerationJob
      summary: Run mock Generator, Evaluator, RuleChecker, and SchemaValidator stages
      description: This endpoint does not call real models. It creates deterministic mock artifacts and independent evaluator traces.
      tags: [generation]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/GenerationActionRequest" }
            examples:
              run:
                value:
                  actor: runner
                  comment: run local stub
      responses:
        "200":
          description: Generation job after mock run
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GenerationJob" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/generation/jobs/{job_id}/review:
    parameters:
      - { $ref: "#/components/parameters/GenerationJobIdParam" }
    post:
      operationId: reviewGenerationJob
      summary: Active-review a generated artifact before final approval
      tags: [generation]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/GenerationReviewRequest" }
            examples:
              review:
                value:
                  reviewer: reviewer
                  decision: approved
                  comment: evaluator report accepted
      responses:
        "200":
          description: Reviewed generation job
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GenerationJob" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/generation/jobs/{job_id}/approve:
    parameters:
      - { $ref: "#/components/parameters/GenerationJobIdParam" }
    post:
      operationId: approveGenerationJob
      summary: Approve generated artifacts
      tags: [generation]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/GenerationActionRequest" }
            examples:
              approve:
                value:
                  actor: approver
                  comment: approved for downstream lifecycle use
      responses:
        "200":
          description: Approved generation job
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GenerationJob" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/generation/jobs/{job_id}/reject:
    parameters:
      - { $ref: "#/components/parameters/GenerationJobIdParam" }
    post:
      operationId: rejectGenerationJob
      summary: Reject generated artifacts
      tags: [generation]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/GenerationActionRequest" }
            examples:
              reject:
                value:
                  actor: approver
                  comment: schema validator evidence is insufficient
      responses:
        "200":
          description: Rejected generation job
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GenerationJob" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/generation/jobs/{job_id}/artifacts:
    parameters:
      - { $ref: "#/components/parameters/GenerationJobIdParam" }
    get:
      operationId: listGenerationArtifacts
      summary: List artifacts produced or consumed by a generation job
      tags: [generation]
      responses:
        "200":
          description: Generation artifacts
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GenerationArtifactsResponse" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/agents/invoke:
    post:
      summary: Run one 9-phase agent graph end-to-end
      tags: [agents]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AgentRequest" }
      responses:
        "200":
          description: Phase complete (approved, revise-hit-cap, or rejected)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AgentResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "502": { $ref: "#/components/responses/UpstreamError" }

  /v1/phases:
    get:
      summary: Legacy phase list
      deprecated: true
      tags: [agents]
      responses:
        "200":
          description: Phase list
          content:
            application/json:
              schema:
                type: object
                properties:
                  phases:
                    type: array
                    items: { $ref: "#/components/schemas/BusinessPhase" }

  /v1/projects:
    get:
      summary: List projects for the caller's tenant
      tags: [projects]
      parameters:
        - { $ref: "#/components/parameters/Page" }
        - { $ref: "#/components/parameters/PageSize" }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  items:
                    type: array
                    items: { $ref: "#/components/schemas/Project" }
                  total: { type: integer, minimum: 0 }
    post:
      summary: Create a project
      tags: [projects]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ProjectCreate" }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Project" }

  /v1/projects/{id}:
    parameters:
      - { $ref: "#/components/parameters/ProjectId" }
    get:
      summary: Get one project
      tags: [projects]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Project" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/projects/{id}/bim:
    parameters:
      - { $ref: "#/components/parameters/ProjectId" }
    post:
      summary: Upload an IFC file for the project
      tags: [bim]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
      responses:
        "202":
          description: Queued for parsing
          content:
            application/json:
              schema:
                type: object
                properties:
                  upload_id: { type: string, format: uuid }
                  status: { type: string, enum: [queued] }

  /v1/projects/{id}/boq:
    parameters:
      - { $ref: "#/components/parameters/ProjectId" }
    get:
      summary: Get the Bill of Quantities
      tags: [boq]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/BoqItem" }

  /v1/projects/{id}/compliance:
    parameters:
      - { $ref: "#/components/parameters/ProjectId" }
    get:
      summary: List compliance findings
      tags: [compliance]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/ComplianceFinding" }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Supabase Auth 2.188.1 issued JWT

  parameters:
    Page:
      in: query
      name: page
      schema: { type: integer, minimum: 1, default: 1 }
    PageSize:
      in: query
      name: page_size
      schema: { type: integer, minimum: 1, maximum: 100, default: 20 }
    ProjectId:
      in: path
      name: id
      required: true
      schema: { type: string, format: uuid }
    ModuleIdParam:
      in: path
      name: module_id
      required: true
      description: Active module id or accepted legacy alias.
      schema:
        type: string
        examples:
          - production_manufacturing
          - manufacturing
          - fabrication
    FileIdParam:
      in: path
      name: file_id
      required: true
      description: Module file id.
      schema: { type: string, format: uuid }
    TransactionIdParam:
      in: path
      name: transaction_id
      required: true
      description: Module lifecycle transaction id.
      schema: { type: string, format: uuid }
    GenerationJobIdParam:
      in: path
      name: job_id
      required: true
      description: AIGC generation job id.
      schema: { type: string, format: uuid }
    LimitParam:
      in: query
      name: limit
      required: false
      description: Maximum number of records to return.
      schema: { type: integer, minimum: 1, maximum: 500, default: 100 }
      example: 50
    CursorParam:
      in: query
      name: cursor
      required: false
      description: Opaque pagination cursor. Current preview uses numeric offsets.
      schema: { type: string }
      example: "50"
    FileParentIdQuery:
      in: query
      name: parentId
      required: false
      description: Optional parent folder id filter.
      schema: { type: string, format: uuid }
    FileStatusQuery:
      in: query
      name: status
      required: false
      description: Optional file status filter.
      schema: { $ref: "#/components/schemas/ModuleFileStatus" }
    FileKindQuery:
      in: query
      name: kind
      required: false
      description: Optional file kind filter.
      schema: { $ref: "#/components/schemas/ModuleFileKind" }
    TransactionModuleIdQuery:
      in: query
      name: module_id
      required: false
      description: Optional active module id or accepted legacy alias.
      schema:
        type: string
        examples: [production_manufacturing, manufacturing, fabrication]
    TransactionStatusQuery:
      in: query
      name: status
      required: false
      description: Optional transaction status filter.
      schema: { $ref: "#/components/schemas/ModuleTransactionStatus" }
    AuditModuleIdQuery:
      in: query
      name: module_id
      required: false
      description: Optional active module id or accepted legacy alias.
      schema:
        type: string
        examples: [production_manufacturing, manufacturing, fabrication]
    AuditTargetTypeQuery:
      in: query
      name: target_type
      required: false
      description: Optional target type filter.
      schema: { type: string, enum: [file, transaction, generation_job, generation_artifact, generation_stage] }
    AuditTargetIdQuery:
      in: query
      name: target_id
      required: false
      description: Optional target id filter.
      schema: { type: string }
    AuditActorQuery:
      in: query
      name: actor
      required: false
      description: Optional actor filter.
      schema: { type: string }
    GenerationModuleIdQuery:
      in: query
      name: module_id
      required: false
      description: Optional active module id or accepted legacy alias.
      schema:
        type: string
        examples: [production_manufacturing, manufacturing, fabrication]
    GenerationStatusQuery:
      in: query
      name: status
      required: false
      description: Optional generation job status filter.
      schema: { $ref: "#/components/schemas/GenerationJobStatus" }
    GenerationModeQuery:
      in: query
      name: mode
      required: false
      description: Optional generation mode filter.
      schema: { $ref: "#/components/schemas/GenerationMode" }

  responses:
    Unauthorized:
      description: Missing or invalid bearer token
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    ValidationError:
      description: Request failed validation
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    Conflict:
      description: Request conflicts with current resource state
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    SlaViolation:
      description: SLA budget exceeded (Constitution §8)
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    UpstreamError:
      description: Upstream inference engine failed
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    NotFound:
      description: Resource does not exist or is not visible to caller
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }
    InternalServerError:
      description: Unexpected internal server error
      content:
        application/json:
          schema: { $ref: "#/components/schemas/ErrorResponse" }

  schemas:
    ErrorResponse:
      type: object
      required: [error, code]
      properties:
        error: { type: string }
        code: { type: integer }
      example:
        error: "not found: file_id=018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0001"
        code: 404

    PageInfo:
      type: object
      required: [limit, hasMore]
      properties:
        limit:
          type: integer
          minimum: 1
          maximum: 500
        nextCursor:
          type: [string, "null"]
          description: Opaque cursor for the next page. Current preview uses numeric offsets.
        hasMore:
          type: boolean
      example:
        limit: 50
        nextCursor: "50"
        hasMore: true

    ModuleId:
      type: string
      description: Active ArchIToken module id. Legacy aliases normalize at API boundaries.
      enum:
        - marketing_service
        - concept_design
        - standard_library
        - detailed_design
        - quantity_costing
        - material_logistics
        - production_manufacturing
        - construction_supervision
        - digital_twin
        - digital_archive
        - settings_center

    ModuleStatus:
      type: string
      enum: [active, pilot, planned, foundation]

    ModuleTrack:
      type: string
      enum:
        - customer
        - design
        - governance
        - cost
        - supply
        - factory
        - site
        - twin
        - archive
        - platform

    ModuleAlias:
      type: object
      required: [alias, normalizedModuleId, reason]
      properties:
        alias:
          type: string
          enum: [manufacturing, fabrication]
        normalizedModuleId:
          $ref: "#/components/schemas/ModuleId"
        reason:
          type: string

    ModuleSpec:
      type: object
      required:
        - id
        - order
        - zhName
        - enName
        - track
        - status
        - summary
        - routeHref
        - schemaRef
        - legacyAliases
      properties:
        id:
          $ref: "#/components/schemas/ModuleId"
        order:
          type: integer
          minimum: 1
          maximum: 99
        zhName:
          type: string
        enName:
          type: string
        track:
          $ref: "#/components/schemas/ModuleTrack"
        status:
          $ref: "#/components/schemas/ModuleStatus"
        summary:
          type: string
        routeHref:
          type: string
          example: /app/modules/production_manufacturing
        schemaRef:
          type: string
          example: module.schema/production_manufacturing.v1
        legacyAliases:
          type: array
          items: { $ref: "#/components/schemas/ModuleAlias" }

    ModuleFileKind:
      type: string
      enum: [folder, file]

    ModuleFileStatus:
      type: string
      enum: [draft, uploaded, active, shared, soft_deleted, archived]

    ModuleFileMetadata:
      type: object
      required: [sizeBytes, version, owner, tags, createdAt, updatedAt]
      properties:
        sizeBytes:
          type: integer
          minimum: 0
        mimeType:
          type: [string, "null"]
          example: application/pdf
        checksum:
          type: [string, "null"]
        version:
          type: integer
          minimum: 1
        owner:
          type: string
        tags:
          type: array
          items: { type: string }
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    ModuleFileNode:
      type: object
      required: [id, moduleId, name, kind, status, metadata]
      properties:
        id:
          type: string
          format: uuid
        moduleId:
          $ref: "#/components/schemas/ModuleId"
        parentId:
          type: [string, "null"]
          format: uuid
        name:
          type: string
          minLength: 1
        kind:
          $ref: "#/components/schemas/ModuleFileKind"
        status:
          $ref: "#/components/schemas/ModuleFileStatus"
        metadata:
          $ref: "#/components/schemas/ModuleFileMetadata"

    ModuleFileListResponse:
      type: object
      required: [files, total, pageInfo]
      properties:
        files:
          type: array
          items: { $ref: "#/components/schemas/ModuleFileNode" }
        total:
          type: integer
          minimum: 0
        pageInfo:
          $ref: "#/components/schemas/PageInfo"

    CreateModuleFileRequest:
      type: object
      required: [name, kind]
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
        kind:
          $ref: "#/components/schemas/ModuleFileKind"
        parentId:
          type: [string, "null"]
          format: uuid
        mimeType:
          type: [string, "null"]
        sizeBytes:
          type: integer
          minimum: 0
        owner:
          type: string
        tags:
          type: array
          items: { type: string }
        content:
          type: string
          description: Small in-memory content stub only; real bytes move through ObjectStore later.

    UpdateModuleFileRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 255
        owner:
          type: string
        tags:
          type: array
          items: { type: string }
        mimeType:
          type: string

    MoveFileRequest:
      type: object
      properties:
        targetParentId:
          type: [string, "null"]
          format: uuid
        actor:
          type: string

    CopyFileRequest:
      type: object
      properties:
        targetModuleId:
          type: string
          description: Optional active module id or accepted legacy alias.
          examples: [production_manufacturing, manufacturing, fabrication]
        targetParentId:
          type: [string, "null"]
          format: uuid
        name:
          type: string
          minLength: 1
          maxLength: 255
        actor:
          type: string

    ShareFileRequest:
      type: object
      required: [permissions]
      properties:
        permissions:
          type: array
          minItems: 1
          items: { type: string }
        expiresAt:
          type: [string, "null"]
          format: date-time
        actor:
          type: string

    ShareFileResponse:
      type: object
      required: [fileId, shareUrl, permissions]
      properties:
        fileId:
          type: string
          format: uuid
        shareUrl:
          type: string
        permissions:
          type: array
          items: { type: string }
        expiresAt:
          type: [string, "null"]
          format: date-time

    UpdateFileContentRequest:
      type: object
      required: [content]
      properties:
        content:
          type: string
        contentType:
          type: string
        actor:
          type: string

    FileContentResponse:
      type: object
      required: [fileId, content, updatedAt]
      properties:
        fileId:
          type: string
          format: uuid
        content:
          type: string
        contentType:
          type: [string, "null"]
        updatedAt:
          type: string
          format: date-time

    GenerationMode:
      type: string
      description: Complete ArchIToken AIGC multimodal generation and conversion matrix.
      enum:
        - text_to_image
        - text_to_document
        - text_to_spreadsheet
        - text_to_pdf
        - text_to_ppt
        - text_to_mindmap
        - text_to_flowchart
        - text_to_gantt
        - text_to_floorplan
        - text_to_cad
        - text_to_bim
        - text_to_digital_twin
        - image_to_video
        - image_to_pdf_drawing
        - image_to_cad
        - image_to_bim
        - image_to_digital_twin
        - video_to_bim
        - video_to_digital_twin
        - video_to_point_cloud
        - cad_to_bim
        - cad_to_digital_twin
        - pdf_drawing_to_bim
        - pdf_drawing_to_digital_twin
        - drawing_to_image
        - drawing_to_pdf
        - model_to_table
        - model_to_drawing
        - model_to_image

    ArtifactKind:
      type: string
      enum:
        - text
        - image
        - video
        - document
        - spreadsheet
        - pdf
        - ppt
        - mindmap
        - flowchart
        - gantt
        - floorplan
        - cad
        - bim
        - digital_twin
        - pdf_drawing
        - point_cloud
        - drawing
        - table
        - model

    ArtifactStatus:
      type: string
      enum: [input, preview, draft, approved, rejected, archived]

    Artifact:
      type: object
      required: [id, kind, status, fileReference, schemaRef, version, metadata]
      properties:
        id:
          type: string
          format: uuid
        kind:
          $ref: "#/components/schemas/ArtifactKind"
        status:
          $ref: "#/components/schemas/ArtifactStatus"
        objectUri:
          type: [string, "null"]
          description: ObjectStore URI. Current skeleton uses memory:// URIs.
        fileReference:
          type: string
          description: Stable file/artifact reference for frontend and third-party callers.
          example: generation://files/018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f1201
        schemaRef:
          type: string
          example: artifact.ifc.schema.v1
        version:
          type: integer
          minimum: 1
        hash:
          type: [string, "null"]
        metadata:
          type: object
          additionalProperties: true
      example:
        id: "018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f1201"
        kind: bim
        status: preview
        objectUri: memory://generation/job/artifact
        fileReference: generation://files/018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f1201
        schemaRef: artifact.ifc.schema.v1
        version: 1
        hash: mock-cad-to-bim
        metadata:
          storage: in_memory_stub
          modelCalls: 0

    GenerationInput:
      type: object
      required: [moduleId, mode, prompt]
      properties:
        moduleId:
          type: string
          description: Active module id or accepted legacy alias.
          examples: [production_manufacturing, manufacturing, fabrication]
        mode:
          $ref: "#/components/schemas/GenerationMode"
        prompt:
          type: string
          minLength: 1
        actor:
          type: string
        inputArtifacts:
          type: array
          items: { $ref: "#/components/schemas/Artifact" }
        constraints:
          type: object
          additionalProperties: true

    GenerationOutput:
      type: object
      required: [artifacts, summary, generatorId, evaluatorId, ruleCheckPassed, schemaValidationPassed]
      properties:
        artifacts:
          type: array
          items: { $ref: "#/components/schemas/Artifact" }
        summary:
          type: string
        generatorId:
          type: string
        evaluatorId:
          type: string
          description: Must be distinct from generatorId; Generator must not self-evaluate.
        ruleCheckPassed:
          type: boolean
        schemaValidationPassed:
          type: boolean

    SkillSpec:
      type: object
      required: [id, version, description, inputSchema, outputSchema, sandboxProfile, licensePolicy]
      properties:
        id:
          type: string
        version:
          type: string
        description:
          type: string
        inputSchema:
          type: string
        outputSchema:
          type: string
        sandboxProfile:
          type: string
        licensePolicy:
          type: string

    McpToolSpec:
      type: object
      required: [name, version, capability, inputSchema, outputSchema, permissionScope]
      properties:
        name:
          type: string
        version:
          type: string
        capability:
          type: string
        inputSchema:
          type: string
        outputSchema:
          type: string
        permissionScope:
          type: string

    ModelRoute:
      type: object
      required: [provider, model, reason, privacyTier, costTier]
      properties:
        provider:
          type: string
          example: mock
        model:
          type: string
          example: mock-aigc-generator-v1
        reason:
          type: string
        privacyTier:
          type: string
          example: local_stub
        costTier:
          type: string
          example: zero

    GenerationStage:
      type: string
      enum: [planner, generator, evaluator, rule_checker, schema_validator, approver]

    GenerationReviewDecision:
      type: string
      enum: [approved, rejected, needs_changes]

    GenerationReview:
      type: object
      required: [id, reviewer, decision, activeReview, createdAt]
      properties:
        id:
          type: string
          format: uuid
        reviewer:
          type: string
        decision:
          $ref: "#/components/schemas/GenerationReviewDecision"
        comment:
          type: [string, "null"]
        activeReview:
          type: boolean
        createdAt:
          type: string
          format: date-time

    GenerationTrace:
      type: object
      required: [id, stage, actor, summary, metadata, createdAt]
      properties:
        id:
          type: string
          format: uuid
        stage:
          $ref: "#/components/schemas/GenerationStage"
        actor:
          type: string
        summary:
          type: string
        metadata:
          type: object
          additionalProperties: true
        createdAt:
          type: string
          format: date-time

    GenerationJobStatus:
      type: string
      enum:
        - queued
        - planned
        - running
        - pending_review
        - pending_approval
        - approved
        - rejected
        - failed
        - archived

    GenerationJob:
      type: object
      required:
        - id
        - moduleId
        - mode
        - status
        - input
        - skill
        - mcpTools
        - modelRoute
        - traces
        - reviews
        - artifacts
        - actor
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          format: uuid
        moduleId:
          $ref: "#/components/schemas/ModuleId"
        mode:
          $ref: "#/components/schemas/GenerationMode"
        status:
          $ref: "#/components/schemas/GenerationJobStatus"
        input:
          $ref: "#/components/schemas/GenerationInput"
        output:
          oneOf:
            - $ref: "#/components/schemas/GenerationOutput"
            - type: "null"
        skill:
          $ref: "#/components/schemas/SkillSpec"
        mcpTools:
          type: array
          items: { $ref: "#/components/schemas/McpToolSpec" }
        modelRoute:
          $ref: "#/components/schemas/ModelRoute"
        traces:
          type: array
          items: { $ref: "#/components/schemas/GenerationTrace" }
        reviews:
          type: array
          items: { $ref: "#/components/schemas/GenerationReview" }
        artifacts:
          type: array
          items: { $ref: "#/components/schemas/Artifact" }
        actor:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    GenerationJobListResponse:
      type: object
      required: [jobs, total, pageInfo]
      properties:
        jobs:
          type: array
          items: { $ref: "#/components/schemas/GenerationJob" }
        total:
          type: integer
          minimum: 0
        pageInfo:
          $ref: "#/components/schemas/PageInfo"

    GenerationArtifactsResponse:
      type: object
      required: [jobId, artifacts]
      properties:
        jobId:
          type: string
          format: uuid
        artifacts:
          type: array
          items: { $ref: "#/components/schemas/Artifact" }

    GenerationActionRequest:
      type: object
      properties:
        actor:
          type: string
        comment:
          type: string

    GenerationReviewRequest:
      type: object
      required: [reviewer, decision]
      properties:
        reviewer:
          type: string
          minLength: 1
        decision:
          $ref: "#/components/schemas/GenerationReviewDecision"
        comment:
          type: string

    ModuleTransactionStatus:
      type: string
      enum:
        - draft
        - submitted
        - generating
        - evaluating
        - rule_checking
        - schema_validating
        - pending_approval
        - approved
        - archived
        - rejected
        - blocked

    ModuleTransitionEvent:
      type: string
      enum:
        - create
        - submit
        - generate
        - evaluate
        - rule_check
        - validate_schema
        - request_approval
        - approve
        - reject
        - archive
        - reopen
        - block
        - resolve_blocker

    ApprovalDecision:
      type: string
      enum: [approved, rejected]

    ModuleApproval:
      type: object
      required: [id, transactionId, approver, decision, decidedAt]
      properties:
        id:
          type: string
          format: uuid
        transactionId:
          type: string
          format: uuid
        approver:
          type: string
        decision:
          $ref: "#/components/schemas/ApprovalDecision"
        comment:
          type: [string, "null"]
        decidedAt:
          type: string
          format: date-time

    ModuleTransaction:
      type: object
      required:
        - id
        - moduleId
        - transactionType
        - status
        - actor
        - createdAt
        - updatedAt
        - relatedFileIds
        - relatedArtifactIds
        - approvals
      properties:
        id:
          type: string
          format: uuid
        moduleId:
          $ref: "#/components/schemas/ModuleId"
        transactionType:
          type: string
          minLength: 1
        status:
          $ref: "#/components/schemas/ModuleTransactionStatus"
        actor:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        relatedFileIds:
          type: array
          items:
            type: string
            format: uuid
        relatedArtifactIds:
          type: array
          items: { type: string }
        approvals:
          type: array
          items: { $ref: "#/components/schemas/ModuleApproval" }

    ModuleTransactionListResponse:
      type: object
      required: [transactions, total, pageInfo]
      properties:
        transactions:
          type: array
          items: { $ref: "#/components/schemas/ModuleTransaction" }
        total:
          type: integer
          minimum: 0
        pageInfo:
          $ref: "#/components/schemas/PageInfo"

    CreateModuleTransactionRequest:
      type: object
      required: [moduleId, transactionType]
      properties:
        moduleId:
          type: string
          description: Active module id or accepted legacy alias.
          examples: [production_manufacturing, manufacturing, fabrication]
        transactionType:
          type: string
          minLength: 1
        actor:
          type: string
        relatedFileIds:
          type: array
          items:
            type: string
            format: uuid
        relatedArtifactIds:
          type: array
          items: { type: string }

    ModuleTransitionRequest:
      type: object
      required: [event]
      properties:
        event:
          $ref: "#/components/schemas/ModuleTransitionEvent"
        actor:
          type: string
        comment:
          type: string

    ApprovalDecisionRequest:
      type: object
      required: [actor]
      properties:
        actor:
          type: string
          minLength: 1
        comment:
          type: string

    AuditEventKind:
      type: string
      enum:
        - file_created
        - file_updated
        - file_moved
        - file_copied
        - file_shared
        - file_trashed
        - file_content_updated
        - transaction_created
        - transaction_transitioned
        - transaction_approved
        - transaction_rejected
        - generation_job_created
        - generation_job_planned
        - generation_job_run
        - generation_job_reviewed
        - generation_job_approved
        - generation_job_rejected
        - generation_artifact_created
        - generation_stage_completed

    AuditEvent:
      type: object
      required: [id, moduleId, actor, action, targetType, targetId, summary, metadata, createdAt]
      properties:
        id:
          type: string
          format: uuid
        moduleId:
          $ref: "#/components/schemas/ModuleId"
        actor:
          type: string
        action:
          $ref: "#/components/schemas/AuditEventKind"
        targetType:
          type: string
          enum: [file, transaction, generation_job, generation_artifact, generation_stage]
        targetId:
          type: string
        summary:
          type: string
        metadata:
          type: object
          additionalProperties: true
        createdAt:
          type: string
          format: date-time

    AuditEventQuery:
      type: object
      properties:
        module_id:
          type: string
          description: Active module id or accepted legacy alias.
          examples: [production_manufacturing, manufacturing, fabrication]
        target_type:
          type: string
          enum: [file, transaction, generation_job, generation_artifact, generation_stage]
        target_id:
          type: string
        actor:
          type: string
        limit:
          type: integer
          minimum: 1
          maximum: 500
          default: 100
        cursor:
          type: [string, "null"]
      example:
        module_id: production_manufacturing
        target_type: file
        target_id: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0002
        actor: planner
        limit: 50
        cursor: null

    AuditEventListResponse:
      type: object
      required: [events, total, pageInfo, query]
      properties:
        events:
          type: array
          items: { $ref: "#/components/schemas/AuditEvent" }
        total:
          type: integer
          minimum: 0
        pageInfo:
          $ref: "#/components/schemas/PageInfo"
        query:
          $ref: "#/components/schemas/AuditEventQuery"

    BusinessPhase:
      deprecated: true
      type: string
      enum:
        - pre_sales
        - concept
        - develop
        - costing
        - fabrication
        - logistics
        - construction
        - acceptance
        - operations

    Verdict:
      type: string
      enum: [approved, revise, rejected]

    Severity:
      type: string
      enum: [info, low, medium, high, critical]

    ChatRequest:
      type: object
      required: [model, messages]
      properties:
        model:
          type: string
          example: claude-4.7-sonnet
        messages:
          type: array
          items:
            type: object
            required: [role, content]
            properties:
              role: { type: string, enum: [system, user, assistant, tool] }
              content: { type: string }
        temperature: { type: number, minimum: 0, maximum: 2, default: 0.2 }
        max_tokens: { type: integer, minimum: 1, maximum: 131072, default: 4096 }
        stream: { type: boolean, default: false }

    ChatResponse:
      type: object
      required: [content, prompt_tokens, completion_tokens, engine, model]
      properties:
        content: { type: string }
        prompt_tokens: { type: integer }
        completion_tokens: { type: integer }
        engine:
          type: string
          enum: [v_llm, sg_lang, tensor_rt_llm, lm_deploy, ollama, llama_cpp]
        model: { type: string }
        latency_ms: { type: integer }

    AgentRequest:
      type: object
      required: [project_id, tenant_id, phase, user_input]
      properties:
        project_id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        phase: { $ref: "#/components/schemas/BusinessPhase" }
        user_input: { type: string, minLength: 1, maxLength: 32768 }
        attachments:
          type: array
          items: { type: string }
        locale:
          type: string
          enum: [zh-CN, en-US, es-ES, ja-JP, de-DE]
          default: zh-CN

    AgentResponse:
      type: object
      required: [request_id, phase, verdict, revision_count, trace]
      properties:
        request_id: { type: string }
        phase: { $ref: "#/components/schemas/BusinessPhase" }
        verdict: { $ref: "#/components/schemas/Verdict" }
        final_output: {}
        revision_count: { type: integer }
        trace:
          type: array
          items: { type: string }

    Project:
      type: object
      required: [id, tenant_id, name, phase, created_at, updated_at]
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        name: { type: string }
        description: { type: [string, "null"] }
        phase: { $ref: "#/components/schemas/BusinessPhase" }
        area_sqm: { type: [number, "null"] }
        location: { type: [string, "null"] }
        budget_cny: { type: [integer, "null"] }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    ProjectCreate:
      type: object
      required: [name]
      properties:
        name: { type: string, minLength: 1, maxLength: 200 }
        description: { type: string, maxLength: 2000 }
        area_sqm: { type: number }
        location: { type: string }
        budget_cny: { type: integer }

    BoqItem:
      type: object
      required: [id, project_id, code, description, unit, quantity, unit_price_cny, total_cny]
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        code: { type: string, pattern: "^[0-9]{9}$" }
        description: { type: string }
        unit: { type: string }
        quantity: { type: number }
        unit_price_cny: { type: number }
        total_cny: { type: number }
        category: { type: string }

    ComplianceFinding:
      type: object
      required: [id, project_id, severity, regulation_code, finding, resolved]
      properties:
        id: { type: string, format: uuid }
        project_id: { type: string, format: uuid }
        severity: { $ref: "#/components/schemas/Severity" }
        regulation_code: { type: string }
        regulation_clause: { type: string }
        finding: { type: string }
        recommendation: { type: string }
        element_id: { type: [string, "null"] }
        resolved: { type: boolean }
