openapi: 3.1.0
info:
  title: ArchIToken API
  version: 2.0.0
  summary: AEC Harness for LLMs · Unified API
  description: |
    The **single source of truth** for the ArchIToken platform (formerly
    InsomeOS; Constitution §5).
    All 7 language SDKs are generated from this file via openapi-generator 7.x.

    Versioning: semver; breaking changes bump MAJOR.
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  contact:
    name: ActiveInAI
    email: ActiveInAI@outlook.com

servers:
  - url: https://api.insomeos.io
    description: Production
  - url: https://staging-api.insomeos.io
    description: Staging
  - url: http://localhost:8080
    description: Local dev

tags:
  - name: harness
    description: Direct inference routing (L5 Gateway)
  - name: modules
    description: ArchIToken active module registry and legacy alias normalization
  - name: module-files
    description: Module-scoped file, metadata, content, sharing, and trash APIs. Content APIs are an in-memory stub and will move behind ObjectStore.
  - name: module-lifecycle
    description: Module transaction state machine and approval APIs. Current implementation is an in-memory preview and will move behind TransactionStore.
  - name: module-audit
    description: Append-only module audit event APIs. Current implementation is an in-memory preview and will move behind EventStore.
  - name: runtime
    description: Runtime capability discovery for frontend and third-party callers.
  - name: generation
    description: AI-native multimodal engineering generation and conversion APIs. Current implementation is an in-memory mock pipeline and will move behind WorkflowRouter, Skill Registry, MCP Tool Registry, and StorageRouter.
  - name: artifacts
    description: Standalone artifact reference, metadata, version, and storage-binding APIs derived from the in-memory generation artifact index.
  - name: assets
    description: Phase 7 universal asset registry and object binding APIs guarded by RuntimeContext, RBAC, tenant/project isolation, and audit.
  - name: conversion-jobs
    description: Phase 7 conversion job contracts for isolated workers. Jobs are audit/RBAC guarded and do not execute proprietary converters in core.
  - name: viewer-commands
    description: Backend-owned auditable viewer command contracts. No proprietary viewer loader is imported or enabled for production routes.
  - name: skills
    description: Registry-first AI skill contracts. Current implementation is an in-memory preview; unapproved skills cannot enter production routes.
  - name: mcp-tools
    description: MCP Tool Registry contracts for permission-scoped, auditable tool metadata. Current implementation does not execute MCP servers.
  - name: knowledge-sources
    description: Knowledge Source Registry contracts for RAG/MCP/WorkflowRouter source metadata and mock ingest jobs.
  - name: agents
    description: Legacy agent orchestration (L4)
  - name: projects
    description: Project CRUD
  - name: bim
    description: IFC / BIM upload and query
  - name: boq
    description: Bill of Quantities
  - name: compliance
    description: Regulation review
  - name: meta
    description: Health, readiness, version

security:
  - bearerAuth: []

paths:
  /healthz:
    get:
      operationId: getHealthz
      summary: Liveness probe
      tags: [meta]
      security: []
      responses:
        "200":
          description: OK
          content:
            text/plain:
              schema: { type: string, example: "ok" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /readyz:
    get:
      operationId: getReadyz
      summary: Readiness probe
      tags: [meta]
      security: []
      responses:
        "200":
          description: Ready
          content:
            text/plain:
              schema: { type: string, example: "ready" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/runtime/capabilities:
    parameters:
      - { $ref: "#/components/parameters/TenantIdHeader" }
      - { $ref: "#/components/parameters/ProjectIdHeader" }
      - { $ref: "#/components/parameters/ActorHeader" }
      - { $ref: "#/components/parameters/RolesHeader" }
      - { $ref: "#/components/parameters/RequestIdHeader" }
      - { $ref: "#/components/parameters/CorrelationIdHeader" }
    get:
      operationId: getRuntimeCapabilities
      summary: Discover runtime capabilities
      description: Returns the active local preview capability matrix so frontend and third-party clients do not hardcode generation modes, artifact contracts, registry availability, storage providers, or viewer command kinds.
      tags: [runtime]
      security: []
      responses:
        "200":
          description: Runtime capability matrix
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RuntimeCapabilities" }
              examples:
                inMemoryPreview:
                  value:
                    activeModuleIds: [digital_twin, production_manufacturing]
                    generation:
                      modes: [model_to_lightweight_scene, ifc_to_3dtiles]
                      artifactKinds: [lightweight_scene, property_index, element_identity_map]
                      artifactStatuses: [preview, draft, approved, rejected]
                      geometryFormats: [ifc, glb, gltf, 3dtiles]
                      propertyIndexFormats: [json, sqlite, duckdb, parquet]
                      assetKindsPhase7: [ifc, cad, pdf, office, image, video, audio, point_cloud, panorama, gis_layer, gantt, flow_diagram, model_3d, unknown]
                      conversionOperations: [ifc_ingest, ifc_to_glb, ifc_to_3dtiles, cad_convert, cad_extract_entities, pdf_parse, ocr, office_convert, gis_tile, pointcloud_tile, panorama_ingest, media_transcode, gantt_generate, flow_generate]
                    viewer:
                      adapterHints: [threejs, webgpu, 3dtiles, ifc, vendor_optrapid3d]
                      commandKinds: [load_artifact, set_color, snapshot, dispose]
                      candidateOnlyAdapterHints: [vendor_optrapid3d]
                    registry:
                      skills: true
                      mcpTools: true
                      knowledgeSources: true
                    storage:
                      providers: [memory, seaweedfs_s3_boundary]
                      persistsRealBytes: false
                      productionReady: false
                      s3ObjectBindings: true
                    storeCapabilities:
                      objectStore: true
                      transactionStore: true
                      eventStore: true
                      registryStore: true
                      artifactStore: true
                      viewerCommandStore: true
                      knowledgeSourceStore: true
                      inMemoryOnly: true
                      inMemoryFallbackAllowed: true
                      postgres: false
                      seaOrmMigrations: true
                      seaweedfsS3: true
                      deterministicPagination: true
                    localImplementationMode: in_memory_preview
                    productionCaveats:
                      - No real commercial model APIs are connected.
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/runtime/executions:
    parameters:
      - { $ref: "#/components/parameters/TenantIdHeader" }
      - { $ref: "#/components/parameters/ProjectIdHeader" }
      - { $ref: "#/components/parameters/ActorHeader" }
      - { $ref: "#/components/parameters/RolesHeader" }
      - { $ref: "#/components/parameters/RequestIdHeader" }
      - { $ref: "#/components/parameters/CorrelationIdHeader" }
    get:
      operationId: listRuntimeExecutions
      summary: List runtime executions
      description: Lists tenant/project scoped AI, conversion, and viewer runtime execution records.
      tags: [runtime]
      parameters:
        - { $ref: "#/components/parameters/RuntimeExecutionKindQuery" }
        - { $ref: "#/components/parameters/RuntimeExecutionStatusQuery" }
        - { $ref: "#/components/parameters/LimitParam" }
        - { $ref: "#/components/parameters/CursorParam" }
      responses:
        "200":
          description: Runtime execution page
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RuntimeExecutionListResponse" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    post:
      operationId: createAiRuntimeDraft
      summary: Create an approval-gated AI runtime draft
      description: Creates a draft-only AI runtime execution. AI must produce query/action plans and draft viewer commands; direct asset mutation is rejected.
      tags: [runtime]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateAiRuntimeDraftRequest" }
            examples:
              sectionPlaneDraft:
                value:
                  provider: mock-ai-provider
                  prompt: Find walls and draft a section plane.
                  queryPlan:
                    objective: inspect model context
                    retrievalStrategy: tenant_project_assets
                    assetFilters:
                      kind: ifc
                  actionPlan:
                    summary: Draft viewer commands only.
                    requiresApproval: true
                    actions:
                      - actionType: viewer_command
                        targetAssetId: null
                        viewerCommand: section_plane
                        arguments:
                          normal: [0, 0, 1]
                        mutatesAssets: false
                  draftViewerCommands:
                    - command: section_plane
                      artifactId: null
                      elementIds: [architoken:wall:001]
                      arguments:
                        offset: 1.2
                  actor: phase7.engineer
      responses:
        "201":
          description: AI runtime draft created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RuntimeExecutionRecord" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/runtime/executions/{execution_id}:
    parameters:
      - { $ref: "#/components/parameters/RuntimeExecutionIdParam" }
      - { $ref: "#/components/parameters/TenantIdHeader" }
      - { $ref: "#/components/parameters/ProjectIdHeader" }
      - { $ref: "#/components/parameters/ActorHeader" }
      - { $ref: "#/components/parameters/RolesHeader" }
      - { $ref: "#/components/parameters/RequestIdHeader" }
      - { $ref: "#/components/parameters/CorrelationIdHeader" }
    get:
      operationId: getRuntimeExecution
      summary: Get one runtime execution
      tags: [runtime]
      responses:
        "200":
          description: Runtime execution
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RuntimeExecutionRecord" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/runtime/executions/{execution_id}/trace:
    parameters:
      - { $ref: "#/components/parameters/RuntimeExecutionIdParam" }
      - { $ref: "#/components/parameters/TenantIdHeader" }
      - { $ref: "#/components/parameters/ProjectIdHeader" }
      - { $ref: "#/components/parameters/ActorHeader" }
      - { $ref: "#/components/parameters/RolesHeader" }
      - { $ref: "#/components/parameters/RequestIdHeader" }
      - { $ref: "#/components/parameters/CorrelationIdHeader" }
    get:
      operationId: getRuntimeExecutionTrace
      summary: Get runtime execution trace
      tags: [runtime]
      responses:
        "200":
          description: Runtime execution trace
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RuntimeExecutionTraceResponse" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/runtime/executions/{execution_id}/approve:
    parameters:
      - { $ref: "#/components/parameters/RuntimeExecutionIdParam" }
      - { $ref: "#/components/parameters/TenantIdHeader" }
      - { $ref: "#/components/parameters/ProjectIdHeader" }
      - { $ref: "#/components/parameters/ActorHeader" }
      - { $ref: "#/components/parameters/RolesHeader" }
      - { $ref: "#/components/parameters/RequestIdHeader" }
      - { $ref: "#/components/parameters/CorrelationIdHeader" }
    post:
      operationId: approveRuntimeExecution
      summary: Approve or reject an AI runtime draft
      description: Approval queues a draft for execution. Rejection cancels it. Neither path directly mutates assets.
      tags: [runtime]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RuntimeExecutionApprovalRequest" }
            examples:
              approve:
                value:
                  actor: phase7.reviewer
                  approved: true
                  comment: queued for controlled execution
      responses:
        "200":
          description: Runtime execution after approval decision
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RuntimeExecutionRecord" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/harness/invoke:
    post:
      operationId: invokeHarness
      summary: Inference via the Harness (§1 · all model calls go here)
      tags: [harness]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ChatRequest" }
      responses:
        "200":
          description: Completion produced
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ChatResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422": { $ref: "#/components/responses/ValidationError" }
        "504": { $ref: "#/components/responses/SlaViolation" }

  /v1/modules:
    get:
      operationId: listModules
      summary: List active ArchIToken modules
      tags: [modules]
      responses:
        "200":
          description: Active module list in lifecycle order
          content:
            application/json:
              schema:
                type: object
                required: [modules, total]
                properties:
                  modules:
                    type: array
                    items: { $ref: "#/components/schemas/ModuleSpec" }
                  total:
                    type: integer
                    minimum: 0
        "401": { $ref: "#/components/responses/Unauthorized" }

  /v1/modules/{module_id}:
    parameters:
      - { $ref: "#/components/parameters/ModuleIdParam" }
    get:
      operationId: getModule
      summary: Get one active module or legacy alias
      tags: [modules]
      responses:
        "200":
          description: Module specification
          content:
            application/json:
                schema: { $ref: "#/components/schemas/ModuleSpec" }
        "404": { $ref: "#/components/responses/NotFound" }

  /v1/modules/{module_id}/files:
    parameters:
      - { $ref: "#/components/parameters/ModuleIdParam" }
    get:
      operationId: listModuleFiles
      summary: List module files and folders
      tags: [module-files]
      parameters:
        - { $ref: "#/components/parameters/FileParentIdQuery" }
        - { $ref: "#/components/parameters/FileStatusQuery" }
        - { $ref: "#/components/parameters/FileKindQuery" }
        - { $ref: "#/components/parameters/LimitParam" }
        - { $ref: "#/components/parameters/CursorParam" }
      responses:
        "200":
          description: Module-scoped file tree nodes
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleFileListResponse" }
              examples:
                files:
                  value:
                    files:
                      - id: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0001
                        moduleId: production_manufacturing
                        parentId: null
                        name: CNC package
                        kind: folder
                        status: active
                        metadata:
                          sizeBytes: 0
                          mimeType: null
                          checksum: null
                          version: 1
                          owner: planner
                          tags: [factory]
                          createdAt: "2026-04-30T00:00:00Z"
                          updatedAt: "2026-04-30T00:00:00Z"
                    total: 1
                    pageInfo:
                      limit: 50
                      nextCursor: null
                      hasMore: false
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    post:
      operationId: createModuleFile
      summary: Create a module file or folder metadata node
      tags: [module-files]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateModuleFileRequest" }
            examples:
              file:
                value:
                  name: cnc-nesting.nc
                  kind: file
                  parentId: null
                  mimeType: text/plain
                  sizeBytes: 128
                  owner: planner
                  tags: [cnc, release]
                  content: "G01 X0 Y0"
      responses:
        "201":
          description: File or folder created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleFileNode" }
              examples:
                created:
                  value:
                    id: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0002
                    moduleId: production_manufacturing
                    parentId: null
                    name: cnc-nesting.nc
                    kind: file
                    status: active
                    metadata:
                      sizeBytes: 128
                      mimeType: text/plain
                      checksum: null
                      version: 1
                      owner: planner
                      tags: [cnc, release]
                      createdAt: "2026-04-30T00:00:00Z"
                      updatedAt: "2026-04-30T00:00:00Z"
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/files/{file_id}:
    parameters:
      - { $ref: "#/components/parameters/FileIdParam" }
    get:
      operationId: getModuleFile
      summary: Get a module file or folder node
      tags: [module-files]
      responses:
        "200":
          description: File or folder node
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleFileNode" }
              examples:
                file:
                  value:
                    id: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0002
                    moduleId: production_manufacturing
                    parentId: null
                    name: cnc-nesting.nc
                    kind: file
                    status: active
                    metadata:
                      sizeBytes: 128
                      mimeType: text/plain
                      checksum: null
                      version: 1
                      owner: planner
                      tags: [cnc, release]
                      createdAt: "2026-04-30T00:00:00Z"
                      updatedAt: "2026-04-30T00:00:00Z"
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    patch:
      operationId: updateModuleFile
      summary: Update module file metadata
      tags: [module-files]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UpdateModuleFileRequest" }
            examples:
              rename:
                value:
                  name: cnc-nesting-v2.nc
                  tags: [cnc, approved]
      responses:
        "200":
          description: File metadata updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleFileNode" }
              examples:
                updated:
                  value:
                    id: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0002
                    moduleId: production_manufacturing
                    parentId: null
                    name: cnc-nesting-v2.nc
                    kind: file
                    status: active
                    metadata:
                      sizeBytes: 128
                      mimeType: text/plain
                      checksum: null
                      version: 2
                      owner: planner
                      tags: [cnc, approved]
                      createdAt: "2026-04-30T00:00:00Z"
                      updatedAt: "2026-04-30T00:10:00Z"
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/files/{file_id}/metadata:
    parameters:
      - { $ref: "#/components/parameters/FileIdParam" }
    get:
      operationId: getModuleFileMetadata
      summary: Get module file metadata
      tags: [module-files]
      responses:
        "200":
          description: File metadata
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleFileMetadata" }
              examples:
                metadata:
                  value:
                    sizeBytes: 128
                    mimeType: text/plain
                    checksum: null
                    version: 1
                    owner: planner
                    tags: [cnc, release]
                    createdAt: "2026-04-30T00:00:00Z"
                    updatedAt: "2026-04-30T00:00:00Z"
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/files/{file_id}/content:
    parameters:
      - { $ref: "#/components/parameters/FileIdParam" }
    get:
      operationId: getModuleFileContent
      summary: Get in-memory module file content stub
      description: Preview-only content endpoint. The current gateway keeps small content strings in memory; production bytes will be served through ObjectStore.
      tags: [module-files]
      responses:
        "200":
          description: File content stub
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FileContentResponse" }
              examples:
                content:
                  value:
                    fileId: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0002
                    content: "G01 X0 Y0"
                    contentType: text/plain
                    updatedAt: "2026-04-30T00:00:00Z"
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    put:
      operationId: updateModuleFileContent
      summary: Replace in-memory module file content stub
      description: Preview-only content endpoint. The current gateway keeps small content strings in memory; production bytes will be written through ObjectStore.
      tags: [module-files]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UpdateFileContentRequest" }
            examples:
              content:
                value:
                  content: "G01 X0 Y0\nM30"
                  contentType: text/plain
                  actor: planner
      responses:
        "200":
          description: File content updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/FileContentResponse" }
              examples:
                content:
                  value:
                    fileId: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0002
                    content: "G01 X0 Y0\nM30"
                    contentType: text/plain
                    updatedAt: "2026-04-30T00:10:00Z"
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/files/{file_id}/move:
    parameters:
      - { $ref: "#/components/parameters/FileIdParam" }
    post:
      operationId: moveModuleFile
      summary: Move a module file or folder
      tags: [module-files]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/MoveFileRequest" }
            examples:
              moveToRoot:
                value:
                  targetParentId: null
                  actor: planner
      responses:
        "200":
          description: File moved
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleFileNode" }
              examples:
                moved:
                  value:
                    id: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0002
                    moduleId: production_manufacturing
                    parentId: null
                    name: cnc-nesting.nc
                    kind: file
                    status: active
                    metadata:
                      sizeBytes: 128
                      mimeType: text/plain
                      checksum: null
                      version: 2
                      owner: planner
                      tags: [cnc, release]
                      createdAt: "2026-04-30T00:00:00Z"
                      updatedAt: "2026-04-30T00:10:00Z"
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/files/{file_id}/copy:
    parameters:
      - { $ref: "#/components/parameters/FileIdParam" }
    post:
      operationId: copyModuleFile
      summary: Copy a module file or folder
      tags: [module-files]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CopyFileRequest" }
            examples:
              copy:
                value:
                  targetModuleId: production_manufacturing
                  targetParentId: null
                  name: cnc-nesting-copy.nc
                  actor: planner
      responses:
        "201":
          description: File copy created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleFileNode" }
              examples:
                copied:
                  value:
                    id: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0003
                    moduleId: production_manufacturing
                    parentId: null
                    name: cnc-nesting-copy.nc
                    kind: file
                    status: active
                    metadata:
                      sizeBytes: 128
                      mimeType: text/plain
                      checksum: null
                      version: 1
                      owner: planner
                      tags: [cnc, release]
                      createdAt: "2026-04-30T00:10:00Z"
                      updatedAt: "2026-04-30T00:10:00Z"
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/files/{file_id}/share:
    parameters:
      - { $ref: "#/components/parameters/FileIdParam" }
    post:
      operationId: shareModuleFile
      summary: Generate a module file share link placeholder
      tags: [module-files]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ShareFileRequest" }
            examples:
              readOnly:
                value:
                  permissions: [read]
                  expiresAt: "2026-05-01T00:00:00Z"
                  actor: planner
      responses:
        "200":
          description: Share link generated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ShareFileResponse" }
              examples:
                shared:
                  value:
                    fileId: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0002
                    shareUrl: /v1/files/018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0002/shared/018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0004
                    permissions: [read]
                    expiresAt: "2026-05-01T00:00:00Z"
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/files/{file_id}/trash:
    parameters:
      - { $ref: "#/components/parameters/FileIdParam" }
    post:
      operationId: trashModuleFile
      summary: Soft-delete a module file or folder
      tags: [module-files]
      responses:
        "200":
          description: File soft-deleted
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleFileNode" }
              examples:
                trashed:
                  value:
                    id: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0002
                    moduleId: production_manufacturing
                    parentId: null
                    name: cnc-nesting.nc
                    kind: file
                    status: soft_deleted
                    metadata:
                      sizeBytes: 128
                      mimeType: text/plain
                      checksum: null
                      version: 1
                      owner: planner
                      tags: [cnc, release]
                      createdAt: "2026-04-30T00:00:00Z"
                      updatedAt: "2026-04-30T00:15:00Z"
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/transactions:
    get:
      operationId: listModuleTransactions
      summary: List module lifecycle transactions
      description: In-memory preview of module lifecycle transactions. Production persistence will move behind TransactionStore.
      tags: [module-lifecycle]
      parameters:
        - { $ref: "#/components/parameters/TransactionModuleIdQuery" }
        - { $ref: "#/components/parameters/TransactionStatusQuery" }
        - { $ref: "#/components/parameters/LimitParam" }
        - { $ref: "#/components/parameters/CursorParam" }
      responses:
        "200":
          description: Lifecycle transactions
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleTransactionListResponse" }
              examples:
                transactions:
                  value:
                    transactions:
                      - id: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0101
                        moduleId: production_manufacturing
                        transactionType: release
                        status: pending_approval
                        actor: planner
                        createdAt: "2026-04-30T00:00:00Z"
                        updatedAt: "2026-04-30T00:30:00Z"
                        relatedFileIds: [018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0002]
                        relatedArtifactIds: [cnc-package-v1]
                        approvals: []
                    total: 1
                    pageInfo:
                      limit: 50
                      nextCursor: null
                      hasMore: false
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    post:
      operationId: createModuleTransaction
      summary: Create a module lifecycle transaction
      description: Creates an in-memory preview transaction. Production persistence will move behind TransactionStore.
      tags: [module-lifecycle]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateModuleTransactionRequest" }
            examples:
              transaction:
                value:
                  moduleId: production_manufacturing
                  transactionType: release
                  actor: planner
                  relatedFileIds: [018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0002]
                  relatedArtifactIds: [cnc-package-v1]
      responses:
        "201":
          description: Transaction created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleTransaction" }
              examples:
                created:
                  value:
                    id: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0101
                    moduleId: production_manufacturing
                    transactionType: release
                    status: draft
                    actor: planner
                    createdAt: "2026-04-30T00:00:00Z"
                    updatedAt: "2026-04-30T00:00:00Z"
                    relatedFileIds: [018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0002]
                    relatedArtifactIds: [cnc-package-v1]
                    approvals: []
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/transactions/{transaction_id}:
    parameters:
      - { $ref: "#/components/parameters/TransactionIdParam" }
    get:
      operationId: getModuleTransaction
      summary: Get a module lifecycle transaction
      tags: [module-lifecycle]
      responses:
        "200":
          description: Lifecycle transaction
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleTransaction" }
              examples:
                transaction:
                  value:
                    id: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0101
                    moduleId: production_manufacturing
                    transactionType: release
                    status: pending_approval
                    actor: planner
                    createdAt: "2026-04-30T00:00:00Z"
                    updatedAt: "2026-04-30T00:30:00Z"
                    relatedFileIds: [018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0002]
                    relatedArtifactIds: [cnc-package-v1]
                    approvals: []
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/transactions/{transaction_id}/transition:
    parameters:
      - { $ref: "#/components/parameters/TransactionIdParam" }
    post:
      operationId: transitionModuleTransaction
      summary: Apply a typed lifecycle transition
      tags: [module-lifecycle]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ModuleTransitionRequest" }
            examples:
              submit:
                value:
                  event: submit
                  actor: planner
                  comment: ready for review
      responses:
        "200":
          description: Transaction transitioned
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleTransaction" }
              examples:
                transitioned:
                  value:
                    id: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0101
                    moduleId: production_manufacturing
                    transactionType: release
                    status: submitted
                    actor: planner
                    createdAt: "2026-04-30T00:00:00Z"
                    updatedAt: "2026-04-30T00:10:00Z"
                    relatedFileIds: [018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0002]
                    relatedArtifactIds: [cnc-package-v1]
                    approvals: []
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/transactions/{transaction_id}/approve:
    parameters:
      - { $ref: "#/components/parameters/TransactionIdParam" }
    post:
      operationId: approveModuleTransaction
      summary: Approve a module lifecycle transaction
      tags: [module-lifecycle]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ApprovalDecisionRequest" }
            examples:
              approve:
                value:
                  actor: approver
                  comment: approved for release
      responses:
        "200":
          description: Transaction approved
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleTransaction" }
              examples:
                approved:
                  value:
                    id: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0101
                    moduleId: production_manufacturing
                    transactionType: release
                    status: approved
                    actor: planner
                    createdAt: "2026-04-30T00:00:00Z"
                    updatedAt: "2026-04-30T00:40:00Z"
                    relatedFileIds: [018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0002]
                    relatedArtifactIds: [cnc-package-v1]
                    approvals:
                      - id: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0201
                        transactionId: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0101
                        approver: approver
                        decision: approved
                        comment: approved for release
                        decidedAt: "2026-04-30T00:40:00Z"
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/transactions/{transaction_id}/reject:
    parameters:
      - { $ref: "#/components/parameters/TransactionIdParam" }
    post:
      operationId: rejectModuleTransaction
      summary: Reject a module lifecycle transaction
      tags: [module-lifecycle]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ApprovalDecisionRequest" }
            examples:
              reject:
                value:
                  actor: approver
                  comment: CNC file needs revision
      responses:
        "200":
          description: Transaction rejected
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ModuleTransaction" }
              examples:
                rejected:
                  value:
                    id: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0101
                    moduleId: production_manufacturing
                    transactionType: release
                    status: rejected
                    actor: planner
                    createdAt: "2026-04-30T00:00:00Z"
                    updatedAt: "2026-04-30T00:40:00Z"
                    relatedFileIds: [018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0002]
                    relatedArtifactIds: [cnc-package-v1]
                    approvals:
                      - id: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0202
                        transactionId: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0101
                        approver: approver
                        decision: rejected
                        comment: CNC file needs revision
                        decidedAt: "2026-04-30T00:40:00Z"
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/audit-events:
    get:
      operationId: listModuleAuditEvents
      summary: List append-only module audit events
      description: In-memory preview of append-only audit events. Production persistence will move behind EventStore.
      tags: [module-audit]
      parameters:
        - { $ref: "#/components/parameters/AuditModuleIdQuery" }
        - { $ref: "#/components/parameters/AuditTargetTypeQuery" }
        - { $ref: "#/components/parameters/AuditTargetIdQuery" }
        - { $ref: "#/components/parameters/AuditActorQuery" }
        - { $ref: "#/components/parameters/LimitParam" }
        - { $ref: "#/components/parameters/CursorParam" }
      responses:
        "200":
          description: Audit events
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AuditEventListResponse" }
              examples:
                auditEvents:
                  value:
                    events:
                      - id: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0301
                        moduleId: production_manufacturing
                        actor: planner
                        action: file_created
                        targetType: file
                        targetId: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0002
                        summary: file node created
                        metadata:
                          name: cnc-nesting.nc
                          kind: file
                          status: active
                        createdAt: "2026-04-30T00:00:00Z"
                    total: 1
                    pageInfo:
                      limit: 50
                      nextCursor: null
                      hasMore: false
                    query:
                      module_id: production_manufacturing
                      target_type: file
                      target_id: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0002
                      actor: planner
                      limit: 50
                      cursor: null
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/generation/jobs:
    parameters:
      - { $ref: "#/components/parameters/TenantIdHeader" }
      - { $ref: "#/components/parameters/ProjectIdHeader" }
      - { $ref: "#/components/parameters/ActorHeader" }
      - { $ref: "#/components/parameters/RolesHeader" }
      - { $ref: "#/components/parameters/RequestIdHeader" }
      - { $ref: "#/components/parameters/CorrelationIdHeader" }
    get:
      operationId: listGenerationJobs
      summary: List AIGC generation jobs
      description: In-memory mock preview of AI-native multimodal engineering generation jobs. Production execution will move behind WorkflowRouter, Skill Registry, MCP Tool Registry, and StorageRouter.
      tags: [generation]
      parameters:
        - { $ref: "#/components/parameters/GenerationModuleIdQuery" }
        - { $ref: "#/components/parameters/GenerationStatusQuery" }
        - { $ref: "#/components/parameters/GenerationModeQuery" }
        - { $ref: "#/components/parameters/LimitParam" }
        - { $ref: "#/components/parameters/CursorParam" }
      responses:
        "200":
          description: Generation jobs
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GenerationJobListResponse" }
              examples:
                jobs:
                  value:
                    jobs:
                      - id: "018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f1001"
                        moduleId: production_manufacturing
                        mode: cad_to_bim
                        status: pending_review
                        input:
                          moduleId: production_manufacturing
                          mode: cad_to_bim
                          prompt: Convert approved CAD package to BIM preview.
                          actor: planner
                          inputArtifacts: []
                          constraints: { targetSchema: artifact.ifc.schema.v1 }
                        skill:
                          id: cad_to_bim_mock_skill
                          version: 0.1.0
                          description: mock AIGC engineering generation skill; no external model call
                          inputSchema: generation.input.schema.v1
                          outputSchema: artifact.ifc.schema.v1
                          sandboxProfile: mock_tool_sandbox_no_network
                          licensePolicy: MIT/Apache-2.0/BSD preferred; GPL/AGPL/LGPL/SSPL/BUSL/Commons Clause denied
                        mcpTools: []
                        modelRoute:
                          provider: mock
                          model: mock-aigc-generator-v1
                          reason: local stub route
                          privacyTier: local_stub
                          costTier: zero
                        traces: []
                        reviews: []
                        artifacts: []
                        lifecycleTransactionId: "018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0101"
                        actor: planner
                        createdAt: "2026-04-30T00:00:00Z"
                        updatedAt: "2026-04-30T00:10:00Z"
                    total: 1
                    pageInfo:
                      limit: 50
                      nextCursor: null
                      hasMore: false
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    post:
      operationId: createGenerationJob
      summary: Create an AIGC generation job
      description: Creates a queued in-memory generation job. No real model, database, or object storage is called.
      tags: [generation]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/GenerationInput" }
            examples:
              cadToBim:
                value:
                  moduleId: production_manufacturing
                  mode: cad_to_bim
                  prompt: Convert approved CAD package to BIM preview.
                  actor: planner
                  inputArtifacts:
                    - id: "018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f1101"
                      kind: cad
                      status: draft
                      objectUri: memory://input/cad-package.dxf
                      fileReference: module-file://018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0002
                      schemaRef: artifact.cad.schema.v1
                      version: 1
                      hash: null
                      metadata: { layers: 12 }
                      reference:
                        artifactId: "018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f1101"
                        artifactKind: cad
                        moduleId: production_manufacturing
                        status: draft
                        name: input cad package
                      storageBinding:
                        artifactRole: source_artifact
                        provider: memory
                        objectKey: input/cad-package.dxf
                        objectUri: memory://input/cad-package.dxf
                        moduleFileId: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0002
                        fileReference: module-file://018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0002
                      artifactMetadata:
                        artifactRole: source_artifact
                        geometryFormat: gltf
                        propertyIndexFormat: null
                        elementIdNamespace: architoken_element_id
                        viewerAdapterHint: threejs
                        sourceModelId: source-model-input
                        schemaRef: artifact.cad.schema.v1
                        checksum: null
                        mimeType: application/vnd.dwg
                        sizeBytes: 0
                        owner: planner
                        sourceJobId: null
                        createdByJobId: null
                        approvalStatus: draft
                        auditEventId: null
                        createdAt: "2026-04-30T00:00:00Z"
                      versions:
                        - id: "018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f1102"
                          artifactId: "018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f1101"
                          version: 1
                          status: draft
                          storage:
                            artifactRole: source_artifact
                            provider: memory
                            objectKey: input/cad-package.dxf
                            objectUri: memory://input/cad-package.dxf
                            moduleFileId: 018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0002
                            fileReference: module-file://018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f0002
                          metadata:
                            artifactRole: source_artifact
                            geometryFormat: gltf
                            propertyIndexFormat: null
                            elementIdNamespace: architoken_element_id
                            viewerAdapterHint: threejs
                            sourceModelId: source-model-input
                            schemaRef: artifact.cad.schema.v1
                            checksum: null
                            mimeType: application/vnd.dwg
                            sizeBytes: 0
                            owner: planner
                            sourceJobId: null
                            createdByJobId: null
                            approvalStatus: draft
                            auditEventId: null
                            createdAt: "2026-04-30T00:00:00Z"
                  constraints:
                    targetSchema: artifact.ifc.schema.v1
      responses:
        "201":
          description: Generation job created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GenerationJob" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/generation/jobs/{job_id}:
    parameters:
      - { $ref: "#/components/parameters/GenerationJobIdParam" }
      - { $ref: "#/components/parameters/TenantIdHeader" }
      - { $ref: "#/components/parameters/ProjectIdHeader" }
      - { $ref: "#/components/parameters/ActorHeader" }
      - { $ref: "#/components/parameters/RolesHeader" }
      - { $ref: "#/components/parameters/RequestIdHeader" }
      - { $ref: "#/components/parameters/CorrelationIdHeader" }
    get:
      operationId: getGenerationJob
      summary: Get one AIGC generation job
      tags: [generation]
      responses:
        "200":
          description: Generation job
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GenerationJob" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/generation/jobs/{job_id}/plan:
    parameters:
      - { $ref: "#/components/parameters/GenerationJobIdParam" }
      - { $ref: "#/components/parameters/TenantIdHeader" }
      - { $ref: "#/components/parameters/ProjectIdHeader" }
      - { $ref: "#/components/parameters/ActorHeader" }
      - { $ref: "#/components/parameters/RolesHeader" }
      - { $ref: "#/components/parameters/RequestIdHeader" }
      - { $ref: "#/components/parameters/CorrelationIdHeader" }
    post:
      operationId: planGenerationJob
      summary: Run Planner stage for a generation job
      tags: [generation]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/GenerationActionRequest" }
            examples:
              plan:
                value:
                  actor: planner
                  comment: prepare deterministic mock plan
      responses:
        "200":
          description: Planned generation job
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GenerationJob" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/generation/jobs/{job_id}/run:
    parameters:
      - { $ref: "#/components/parameters/GenerationJobIdParam" }
      - { $ref: "#/components/parameters/TenantIdHeader" }
      - { $ref: "#/components/parameters/ProjectIdHeader" }
      - { $ref: "#/components/parameters/ActorHeader" }
      - { $ref: "#/components/parameters/RolesHeader" }
      - { $ref: "#/components/parameters/RequestIdHeader" }
      - { $ref: "#/components/parameters/CorrelationIdHeader" }
    post:
      operationId: runGenerationJob
      summary: Run mock Generator, Evaluator, RuleChecker, and SchemaValidator stages
      description: This endpoint does not call real models. It creates deterministic mock artifacts and independent evaluator traces.
      tags: [generation]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/GenerationActionRequest" }
            examples:
              run:
                value:
                  actor: runner
                  comment: run local stub
      responses:
        "200":
          description: Generation job after mock run
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GenerationJob" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/generation/jobs/{job_id}/review:
    parameters:
      - { $ref: "#/components/parameters/GenerationJobIdParam" }
      - { $ref: "#/components/parameters/TenantIdHeader" }
      - { $ref: "#/components/parameters/ProjectIdHeader" }
      - { $ref: "#/components/parameters/ActorHeader" }
      - { $ref: "#/components/parameters/RolesHeader" }
      - { $ref: "#/components/parameters/RequestIdHeader" }
      - { $ref: "#/components/parameters/CorrelationIdHeader" }
    post:
      operationId: reviewGenerationJob
      summary: Active-review a generated artifact before final approval
      tags: [generation]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/GenerationReviewRequest" }
            examples:
              review:
                value:
                  reviewer: reviewer
                  decision: approved
                  comment: evaluator report accepted
      responses:
        "200":
          description: Reviewed generation job
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GenerationJob" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/generation/jobs/{job_id}/approve:
    parameters:
      - { $ref: "#/components/parameters/GenerationJobIdParam" }
      - { $ref: "#/components/parameters/TenantIdHeader" }
      - { $ref: "#/components/parameters/ProjectIdHeader" }
      - { $ref: "#/components/parameters/ActorHeader" }
      - { $ref: "#/components/parameters/RolesHeader" }
      - { $ref: "#/components/parameters/RequestIdHeader" }
      - { $ref: "#/components/parameters/CorrelationIdHeader" }
    post:
      operationId: approveGenerationJob
      summary: Approve generated artifacts
      tags: [generation]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/GenerationActionRequest" }
            examples:
              approve:
                value:
                  actor: approver
                  comment: approved for downstream lifecycle use
      responses:
        "200":
          description: Approved generation job
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GenerationJob" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/generation/jobs/{job_id}/reject:
    parameters:
      - { $ref: "#/components/parameters/GenerationJobIdParam" }
      - { $ref: "#/components/parameters/TenantIdHeader" }
      - { $ref: "#/components/parameters/ProjectIdHeader" }
      - { $ref: "#/components/parameters/ActorHeader" }
      - { $ref: "#/components/parameters/RolesHeader" }
      - { $ref: "#/components/parameters/RequestIdHeader" }
      - { $ref: "#/components/parameters/CorrelationIdHeader" }
    post:
      operationId: rejectGenerationJob
      summary: Reject generated artifacts
      tags: [generation]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/GenerationActionRequest" }
            examples:
              reject:
                value:
                  actor: approver
                  comment: schema validator evidence is insufficient
      responses:
        "200":
          description: Rejected generation job
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GenerationJob" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/generation/jobs/{job_id}/artifacts:
    parameters:
      - { $ref: "#/components/parameters/GenerationJobIdParam" }
      - { $ref: "#/components/parameters/TenantIdHeader" }
      - { $ref: "#/components/parameters/ProjectIdHeader" }
      - { $ref: "#/components/parameters/ActorHeader" }
      - { $ref: "#/components/parameters/RolesHeader" }
      - { $ref: "#/components/parameters/RequestIdHeader" }
      - { $ref: "#/components/parameters/CorrelationIdHeader" }
    get:
      operationId: listGenerationArtifacts
      summary: List artifacts produced or consumed by a generation job
      tags: [generation]
      responses:
        "200":
          description: Generation artifacts
          content:
            application/json:
              schema: { $ref: "#/components/schemas/GenerationArtifactsResponse" }
              examples:
                empty:
                  value:
                    jobId: "018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f1001"
                    artifacts: []
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/artifacts:
    parameters:
      - { $ref: "#/components/parameters/TenantIdHeader" }
      - { $ref: "#/components/parameters/ProjectIdHeader" }
      - { $ref: "#/components/parameters/ActorHeader" }
      - { $ref: "#/components/parameters/RolesHeader" }
      - { $ref: "#/components/parameters/RequestIdHeader" }
      - { $ref: "#/components/parameters/CorrelationIdHeader" }
    get:
      operationId: listArtifacts
      summary: List standalone artifacts
      description: Lists artifact references derived from generation service outputs. Current runtime uses an in-memory preview index and does not persist real bytes.
      tags: [artifacts]
      parameters:
        - { $ref: "#/components/parameters/ArtifactModuleIdQuery" }
        - { $ref: "#/components/parameters/ArtifactKindQuery" }
        - { $ref: "#/components/parameters/ArtifactStatusQuery" }
        - { $ref: "#/components/parameters/ArtifactSourceJobIdQuery" }
        - { $ref: "#/components/parameters/LimitParam" }
        - { $ref: "#/components/parameters/CursorParam" }
      responses:
        "200":
          description: Standalone artifacts
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ArtifactListResponse" }
              examples:
                empty:
                  value:
                    artifacts: []
                    total: 0
                    pageInfo:
                      limit: 50
                      nextCursor: null
                      hasMore: false
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/artifacts/{artifact_id}:
    parameters:
      - { $ref: "#/components/parameters/ArtifactIdParam" }
      - { $ref: "#/components/parameters/TenantIdHeader" }
      - { $ref: "#/components/parameters/ProjectIdHeader" }
      - { $ref: "#/components/parameters/ActorHeader" }
      - { $ref: "#/components/parameters/RolesHeader" }
      - { $ref: "#/components/parameters/RequestIdHeader" }
      - { $ref: "#/components/parameters/CorrelationIdHeader" }
    get:
      operationId: getArtifact
      summary: Get one standalone artifact
      tags: [artifacts]
      responses:
        "200":
          description: Artifact
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Artifact" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/artifacts/{artifact_id}/versions:
    parameters:
      - { $ref: "#/components/parameters/ArtifactIdParam" }
      - { $ref: "#/components/parameters/TenantIdHeader" }
      - { $ref: "#/components/parameters/ProjectIdHeader" }
      - { $ref: "#/components/parameters/ActorHeader" }
      - { $ref: "#/components/parameters/RolesHeader" }
      - { $ref: "#/components/parameters/RequestIdHeader" }
      - { $ref: "#/components/parameters/CorrelationIdHeader" }
    get:
      operationId: listArtifactVersions
      summary: List one artifact's versions
      tags: [artifacts]
      responses:
        "200":
          description: Artifact versions
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/ArtifactVersion" }
              examples:
                empty:
                  value: []
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/artifacts/{artifact_id}/metadata:
    parameters:
      - { $ref: "#/components/parameters/ArtifactIdParam" }
      - { $ref: "#/components/parameters/TenantIdHeader" }
      - { $ref: "#/components/parameters/ProjectIdHeader" }
      - { $ref: "#/components/parameters/ActorHeader" }
      - { $ref: "#/components/parameters/RolesHeader" }
      - { $ref: "#/components/parameters/RequestIdHeader" }
      - { $ref: "#/components/parameters/CorrelationIdHeader" }
    get:
      operationId: getArtifactMetadata
      summary: Get one artifact's metadata
      tags: [artifacts]
      responses:
        "200":
          description: Artifact metadata
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ArtifactMetadata" }
              examples:
                lightweightScene:
                  value:
                    artifactRole: geometry_artifact
                    geometryFormat: gltf
                    propertyIndexFormat: null
                    elementIdNamespace: null
                    viewerAdapterHint: threejs
                    sourceModelId: source-model-001
                    schemaRef: artifact.lightweight_scene.schema.v1
                    checksum: memory-checksum-artifact
                    mimeType: application/vnd.architoken.lightweight-scene+json
                    sizeBytes: 42
                    owner: planner
                    sourceJobId: "018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f1001"
                    createdByJobId: "018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f1001"
                    approvalStatus: approved
                    auditEventId: null
                    createdAt: "2026-04-30T00:00:00Z"
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/artifacts/{artifact_id}/storage-binding:
    parameters:
      - { $ref: "#/components/parameters/ArtifactIdParam" }
      - { $ref: "#/components/parameters/TenantIdHeader" }
      - { $ref: "#/components/parameters/ProjectIdHeader" }
      - { $ref: "#/components/parameters/ActorHeader" }
      - { $ref: "#/components/parameters/RolesHeader" }
      - { $ref: "#/components/parameters/RequestIdHeader" }
      - { $ref: "#/components/parameters/CorrelationIdHeader" }
    get:
      operationId: getArtifactStorageBinding
      summary: Get one artifact's storage binding
      tags: [artifacts]
      responses:
        "200":
          description: Artifact storage binding
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ArtifactStorageBinding" }
              examples:
                memory:
                  value:
                    artifactRole: geometry_artifact
                    provider: memory
                    objectKey: generation/job/lightweight_scene
                    objectUri: memory://generation/job/lightweight_scene
                    moduleFileId: null
                    fileReference: generation://files/018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f1201
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/assets:
    parameters:
      - { $ref: "#/components/parameters/TenantIdHeader" }
      - { $ref: "#/components/parameters/ProjectIdHeader" }
      - { $ref: "#/components/parameters/ActorHeader" }
      - { $ref: "#/components/parameters/RolesHeader" }
      - { $ref: "#/components/parameters/RequestIdHeader" }
      - { $ref: "#/components/parameters/CorrelationIdHeader" }
    get:
      operationId: listAssets
      summary: List Phase 7 assets
      description: Lists universal AEC assets in the caller tenant/project scope.
      tags: [assets]
      parameters:
        - { $ref: "#/components/parameters/AssetKindQuery" }
        - { $ref: "#/components/parameters/AssetStatusQuery" }
        - { $ref: "#/components/parameters/LimitParam" }
        - { $ref: "#/components/parameters/CursorParam" }
      responses:
        "200":
          description: Asset page
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AssetListResponse" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    post:
      operationId: createAsset
      summary: Create a Phase 7 asset
      tags: [assets]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateAssetRequest" }
            examples:
              ifc:
                value:
                  kind: ifc
                  name: sample.ifc
                  sourceFormat: ifc
                  canonicalFormat: ifc4x3
                  metadata:
                    tenantId: tenant-demo
                    projectId: project-demo
                    actor: engineer@example.com
      responses:
        "200":
          description: Created asset
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AssetRecord" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/assets/{asset_id}:
    parameters:
      - { $ref: "#/components/parameters/AssetIdParam" }
      - { $ref: "#/components/parameters/TenantIdHeader" }
      - { $ref: "#/components/parameters/ProjectIdHeader" }
      - { $ref: "#/components/parameters/ActorHeader" }
      - { $ref: "#/components/parameters/RolesHeader" }
      - { $ref: "#/components/parameters/RequestIdHeader" }
      - { $ref: "#/components/parameters/CorrelationIdHeader" }
    get:
      operationId: getAsset
      summary: Get one Phase 7 asset
      tags: [assets]
      responses:
        "200":
          description: Asset
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AssetRecord" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/assets/{asset_id}/versions:
    parameters:
      - { $ref: "#/components/parameters/AssetIdParam" }
      - { $ref: "#/components/parameters/TenantIdHeader" }
      - { $ref: "#/components/parameters/ProjectIdHeader" }
      - { $ref: "#/components/parameters/ActorHeader" }
      - { $ref: "#/components/parameters/RolesHeader" }
      - { $ref: "#/components/parameters/RequestIdHeader" }
      - { $ref: "#/components/parameters/CorrelationIdHeader" }
    get:
      operationId: listAssetVersions
      summary: List asset versions
      tags: [assets]
      responses:
        "200":
          description: Asset versions
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/AssetVersionRecord" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    post:
      operationId: createAssetVersion
      summary: Create an asset version
      tags: [assets]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateAssetVersionRequest" }
      responses:
        "200":
          description: Created asset version
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AssetVersionRecord" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/assets/{asset_id}/files/presign-upload:
    parameters:
      - { $ref: "#/components/parameters/AssetIdParam" }
      - { $ref: "#/components/parameters/TenantIdHeader" }
      - { $ref: "#/components/parameters/ProjectIdHeader" }
      - { $ref: "#/components/parameters/ActorHeader" }
      - { $ref: "#/components/parameters/RolesHeader" }
      - { $ref: "#/components/parameters/RequestIdHeader" }
      - { $ref: "#/components/parameters/CorrelationIdHeader" }
    post:
      operationId: presignAssetUpload
      summary: Prepare an asset file upload
      tags: [assets]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/PresignUploadRequest" }
      responses:
        "200":
          description: Upload URL
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PresignUploadResponse" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/assets/{asset_id}/files/complete-upload:
    parameters:
      - { $ref: "#/components/parameters/AssetIdParam" }
      - { $ref: "#/components/parameters/TenantIdHeader" }
      - { $ref: "#/components/parameters/ProjectIdHeader" }
      - { $ref: "#/components/parameters/ActorHeader" }
      - { $ref: "#/components/parameters/RolesHeader" }
      - { $ref: "#/components/parameters/RequestIdHeader" }
      - { $ref: "#/components/parameters/CorrelationIdHeader" }
    post:
      operationId: completeAssetUpload
      summary: Complete an asset file upload
      tags: [assets]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CompleteUploadRequest" }
      responses:
        "200":
          description: Completed file binding
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CompleteUploadResponse" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/assets/{asset_id}/files/{file_id}/download:
    parameters:
      - { $ref: "#/components/parameters/AssetIdParam" }
      - { $ref: "#/components/parameters/AssetFileIdParam" }
      - { $ref: "#/components/parameters/TenantIdHeader" }
      - { $ref: "#/components/parameters/ProjectIdHeader" }
      - { $ref: "#/components/parameters/ActorHeader" }
      - { $ref: "#/components/parameters/RolesHeader" }
      - { $ref: "#/components/parameters/RequestIdHeader" }
      - { $ref: "#/components/parameters/CorrelationIdHeader" }
    get:
      operationId: downloadAssetFile
      summary: Get an asset file download URL
      tags: [assets]
      responses:
        "200":
          description: Download URL
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AssetFileDownloadResponse" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/conversion-jobs:
    parameters:
      - { $ref: "#/components/parameters/TenantIdHeader" }
      - { $ref: "#/components/parameters/ProjectIdHeader" }
      - { $ref: "#/components/parameters/ActorHeader" }
      - { $ref: "#/components/parameters/RolesHeader" }
      - { $ref: "#/components/parameters/RequestIdHeader" }
      - { $ref: "#/components/parameters/CorrelationIdHeader" }
    get:
      operationId: listConversionJobs
      summary: List conversion jobs
      tags: [conversion-jobs]
      parameters:
        - { $ref: "#/components/parameters/ConversionOperationQuery" }
        - { $ref: "#/components/parameters/ConversionJobStatusQuery" }
        - { $ref: "#/components/parameters/LimitParam" }
        - { $ref: "#/components/parameters/CursorParam" }
      responses:
        "200":
          description: Conversion job page
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ConversionJobListResponse" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    post:
      operationId: createConversionJob
      summary: Create a conversion job
      tags: [conversion-jobs]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateConversionJobRequest" }
      responses:
        "200":
          description: Created conversion job
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ConversionJobRecord" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/conversion-jobs/{job_id}:
    parameters:
      - { $ref: "#/components/parameters/ConversionJobIdParam" }
      - { $ref: "#/components/parameters/TenantIdHeader" }
      - { $ref: "#/components/parameters/ProjectIdHeader" }
      - { $ref: "#/components/parameters/ActorHeader" }
      - { $ref: "#/components/parameters/RolesHeader" }
      - { $ref: "#/components/parameters/RequestIdHeader" }
      - { $ref: "#/components/parameters/CorrelationIdHeader" }
    get:
      operationId: getConversionJob
      summary: Get one conversion job
      tags: [conversion-jobs]
      responses:
        "200":
          description: Conversion job
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ConversionJobRecord" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/conversion-jobs/{job_id}/cancel:
    parameters:
      - { $ref: "#/components/parameters/ConversionJobIdParam" }
      - { $ref: "#/components/parameters/TenantIdHeader" }
      - { $ref: "#/components/parameters/ProjectIdHeader" }
      - { $ref: "#/components/parameters/ActorHeader" }
      - { $ref: "#/components/parameters/RolesHeader" }
      - { $ref: "#/components/parameters/RequestIdHeader" }
      - { $ref: "#/components/parameters/CorrelationIdHeader" }
    post:
      operationId: cancelConversionJob
      summary: Cancel one conversion job
      tags: [conversion-jobs]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ConversionJobActionRequest" }
      responses:
        "200":
          description: Cancelled conversion job
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ConversionJobRecord" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/viewer/commands:
    parameters:
      - { $ref: "#/components/parameters/TenantIdHeader" }
      - { $ref: "#/components/parameters/ProjectIdHeader" }
      - { $ref: "#/components/parameters/ActorHeader" }
      - { $ref: "#/components/parameters/RolesHeader" }
      - { $ref: "#/components/parameters/RequestIdHeader" }
      - { $ref: "#/components/parameters/CorrelationIdHeader" }
    get:
      operationId: listViewerCommands
      summary: List auditable viewer commands
      tags: [viewer-commands]
      parameters:
        - { $ref: "#/components/parameters/ViewerCommandStatusQuery" }
        - { $ref: "#/components/parameters/ViewerCommandArtifactIdQuery" }
        - { $ref: "#/components/parameters/ViewerAdapterQuery" }
        - { $ref: "#/components/parameters/ViewerCommandKindQuery" }
        - { $ref: "#/components/parameters/LimitParam" }
        - { $ref: "#/components/parameters/CursorParam" }
      responses:
        "200":
          description: Viewer commands
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ViewerCommandListResponse" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    post:
      operationId: createViewerCommand
      summary: Create an auditable viewer command
      description: Accepts backend-owned viewer command contracts. Vendor adapter hints are candidate/evaluation metadata only and cannot be used as production routes.
      tags: [viewer-commands]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ViewerCommandCreateRequest" }
            examples:
              setColor:
                value:
                  adapter: threejs
                  command: set_color
                  artifactId: "018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f1201"
                  elementIds: [architoken:wall:001]
                  arguments:
                    color: "#ff6600"
                  actor: viewer-dev
              load3dTiles:
                value:
                  adapter: 3dtiles
                  command: load_3d_tiles
                  artifactId: "018f1d1d-7a7e-7f2b-a9d9-4c0f4c2f1201"
                  arguments:
                    tilesetUrl: "s3://architoken-dev/tilesets/site/tileset.json"
                  actor: viewer-dev
              syncPanoramaCamera:
                value:
                  adapter: webgpu
                  command: sync_panorama_camera
                  arguments:
                    panoramaNodeId: pano-node-001
                    camera:
                      heading: 32.4
                      pitch: -3.2
                  actor: viewer-dev
      responses:
        "201":
          description: Viewer command created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ViewerAdapterCommand" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/viewer/commands/{command_id}:
    parameters:
      - { $ref: "#/components/parameters/ViewerCommandIdParam" }
      - { $ref: "#/components/parameters/TenantIdHeader" }
      - { $ref: "#/components/parameters/ProjectIdHeader" }
      - { $ref: "#/components/parameters/ActorHeader" }
      - { $ref: "#/components/parameters/RolesHeader" }
      - { $ref: "#/components/parameters/RequestIdHeader" }
      - { $ref: "#/components/parameters/CorrelationIdHeader" }
    get:
      operationId: getViewerCommand
      summary: Get one viewer command
      tags: [viewer-commands]
      responses:
        "200":
          description: Viewer command
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ViewerAdapterCommand" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/viewer/commands/{command_id}/ack:
    parameters:
      - { $ref: "#/components/parameters/ViewerCommandIdParam" }
      - { $ref: "#/components/parameters/TenantIdHeader" }
      - { $ref: "#/components/parameters/ProjectIdHeader" }
      - { $ref: "#/components/parameters/ActorHeader" }
      - { $ref: "#/components/parameters/RolesHeader" }
      - { $ref: "#/components/parameters/RequestIdHeader" }
      - { $ref: "#/components/parameters/CorrelationIdHeader" }
    post:
      operationId: ackViewerCommand
      summary: Execute or skip one viewer command
      tags: [viewer-commands]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ViewerCommandAckRequest" }
            examples:
              executed:
                value:
                  actor: viewer-dev
                  status: executed
                  comment: command rendered in the current viewer
                  result:
                    ok: true
              skipped:
                value:
                  actor: viewer-dev
                  status: skipped
                  comment: viewer adapter unavailable
                  result:
                    ok: false
      responses:
        "200":
          description: Viewer command after terminal status update
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ViewerAdapterCommand" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/skills:
    parameters:
      - { $ref: "#/components/parameters/TenantIdHeader" }
      - { $ref: "#/components/parameters/ProjectIdHeader" }
      - { $ref: "#/components/parameters/ActorHeader" }
      - { $ref: "#/components/parameters/RolesHeader" }
      - { $ref: "#/components/parameters/RequestIdHeader" }
      - { $ref: "#/components/parameters/CorrelationIdHeader" }
    get:
      operationId: listSkills
      summary: List AI skill registry entries
      description: In-memory registry preview. Only approved, commercial-safe skills are eligible for future production routes.
      tags: [skills]
      parameters:
        - { $ref: "#/components/parameters/SkillStatusQuery" }
        - { $ref: "#/components/parameters/OwnerQuery" }
        - { $ref: "#/components/parameters/LimitParam" }
        - { $ref: "#/components/parameters/CursorParam" }
      responses:
        "200":
          description: Skill registry page
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SkillListResponse" }
              examples:
                skills:
                  value:
                    skills:
                      - id: text_to_bim
                        name: Text to BIM
                        owner: platform
                        version:
                          version: 0.1.0
                          changelog: initial registry preview
                          createdAt: "2026-04-30T00:00:00Z"
                        inputSchemaRef: generation.input.schema.v1
                        outputSchemaRef: artifact.ifc.schema.v1
                        capabilities:
                          - id: text_to_bim
                            description: mock conversion
                            inputKinds: [text]
                            outputKinds: [bim]
                        licensePolicy:
                          license: Apache-2.0
                          commercialUseAllowed: true
                          reviewNote: free commercial license preferred
                        sandboxPolicy:
                          profile: mock_tool_sandbox_no_network
                          networkAccess: false
                          timeoutMs: 30000
                          memoryMb: 512
                        fixtures: []
                        status: approved
                        productionRouteEnabled: true
                        createdAt: "2026-04-30T00:00:00Z"
                        updatedAt: "2026-04-30T00:00:00Z"
                    total: 1
                    pageInfo:
                      limit: 50
                      nextCursor: null
                      hasMore: false
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    post:
      operationId: createSkill
      summary: Register a draft AI skill
      tags: [skills]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateSkillRequest" }
            examples:
              skill:
                value:
                  id: text_to_bim
                  name: Text to BIM
                  owner: platform
                  version: 0.1.0
                  inputSchemaRef: generation.input.schema.v1
                  outputSchemaRef: artifact.ifc.schema.v1
                  capabilities:
                    - id: text_to_bim
                      description: mock conversion
                      inputKinds: [text]
                      outputKinds: [bim]
                  licensePolicy:
                    license: Apache-2.0
                    commercialUseAllowed: true
                    reviewNote: MIT/Apache-2.0/BSD preferred; GPL/AGPL/LGPL/SSPL/BUSL/Commons Clause denied.
                  sandboxPolicy:
                    profile: mock_tool_sandbox_no_network
                    networkAccess: false
                    timeoutMs: 30000
                    memoryMb: 512
                  fixtures: []
      responses:
        "201":
          description: Draft skill registered
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SkillSpec" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/skills/{skill_id}:
    parameters:
      - { $ref: "#/components/parameters/SkillIdParam" }
      - { $ref: "#/components/parameters/TenantIdHeader" }
      - { $ref: "#/components/parameters/ProjectIdHeader" }
      - { $ref: "#/components/parameters/ActorHeader" }
      - { $ref: "#/components/parameters/RolesHeader" }
      - { $ref: "#/components/parameters/RequestIdHeader" }
      - { $ref: "#/components/parameters/CorrelationIdHeader" }
    get:
      operationId: getSkill
      summary: Get one skill registry entry
      tags: [skills]
      responses:
        "200":
          description: Skill registry entry
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SkillSpec" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }
    patch:
      operationId: updateSkill
      summary: Patch a skill registry entry
      tags: [skills]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/UpdateSkillRequest" }
            examples:
              patch:
                value:
                  sandboxPolicy:
                    profile: mock_tool_sandbox_no_network
                    networkAccess: false
                    timeoutMs: 45000
                    memoryMb: 1024
      responses:
        "200":
          description: Skill updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SkillSpec" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/skills/{skill_id}/approve:
    parameters:
      - { $ref: "#/components/parameters/SkillIdParam" }
      - { $ref: "#/components/parameters/TenantIdHeader" }
      - { $ref: "#/components/parameters/ProjectIdHeader" }
      - { $ref: "#/components/parameters/ActorHeader" }
      - { $ref: "#/components/parameters/RolesHeader" }
      - { $ref: "#/components/parameters/RequestIdHeader" }
      - { $ref: "#/components/parameters/CorrelationIdHeader" }
    post:
      operationId: approveSkill
      summary: Approve a commercial-safe skill for production routes
      tags: [skills]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/RegistryActionRequest" }
            examples:
              approve:
                value:
                  actor: reviewer
                  comment: license and sandbox approved
      responses:
        "200":
          description: Skill approved
          content:
            application/json:
              schema: { $ref: "#/components/schemas/SkillSpec" }
        "400": { $ref: "#/components/responses/ValidationError" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "500": { $ref: "#/components/responses/InternalServerError" }

  /v1/skills/{skill_id}/disable:
    parameters:
      - { $ref: "#/components/parameters/SkillIdParam" }
      - { $ref: "#/components/parameters/TenantIdHeader" }
      - { $ref: "#/components/parameters/ProjectIdHeader" }
[...]
